[2020-08-04 09:30] emdann opened #1 "buildGraph uses BiocParallel::SerialParams that is not exported or required"

[2020-08-04 10:17] emdann opened #2 "Need 4 speed"
The `buildGraph` function is significantly slower than `scran::buildKNNGraph`. Here on a simulated dataset of 2000 cells:
[code]
On the human thymus dataset (~ 30k cells) it takes forever. Any idea on what's the bottleneck here?

[2020-08-05 08:27] emdann opened #4 "Milo object size"
Any idea why the `Milo` object is much bigger than the `SingleCellExperiment` object, even before computing all the graphs and neighborhoods?
[code]

Not sure if this is a real issue, but it seems to make things like subsetting very slow and leads to frequent R crashes.

[2020-08-05 10:46] MikeDMorgan commented on #4
Hmm, I can only assume that the SCE is using something under the hood that isn't inherited in the Milo object. This may take some time...

[2020-08-05 11:38] MikeDMorgan commented on #2
I wonder if this is related to the Milo object size. The only other difference between functions is the retrieval of distances - I'm a little surprised that slows things down so much.

[2020-08-05 12:02] MikeDMorgan commented on #1
Fixed in commit 9be213e88e6593efd22dec1c459920824a76818b?

[2020-08-05 13:57] MikeDMorgan commented on #2
This was down to instantiating the distance matrix as sparse, but then filling it in the for loop which required multiple coercions to a non-sparse format from the `]<-` function in `Matrix`. Totally unexpected. Commit 9f59afe7202bbcb10de291b4547e8d5f90482a1e now makes things considerably faster:
[code]
This is at least now in roughly the same ball park as the scran function - there _might_ be roo

[2020-08-05 13:57] #2 closed

[2020-08-05 14:14] MikeDMorgan commented on #4
The Milo object now faithfully recapitulates the SCE object, fixed in commit cb2882cf25c3e78a4a08038c991ccf0fc69553c2.
[code]

[2020-08-05 14:14] #4 closed

[2020-08-05 17:09] MikeDMorgan opened #5 "Room for more speed?"
Running the newer `makeNeighbourhoods` on a data set of ~8k cells still takes 2-3 minutes to compute:
[code]

I don't know if this is because it only really matters for much bigger data sets. How does it behave in your hands @emdann ?

[2020-08-05 19:10] emdann commented on #5
Weird, takes less on ~ 40k cells
[code]

[2020-08-06 08:05] MikeDMorgan commented on #5
My bad. I forgot to re-build and install `miloR` after merging the branches. Defo waaaaaay faster now:
[code]

[2020-08-06 08:05] #5 closed

[2020-08-06 10:29] #1 closed

[2020-08-06 10:51] emdann opened #6 "`data` param meaning different things in different functions"
A minor thing: both `countCells` and `testNeighbourhoods` have a required parameter called `data`, but for counting this needs to be the `colData` of the `Milo` object, while for testing it's the design matrix. I would change the name to `design_df` or something like that in `testNeighbourhoods`.

[2020-08-12 14:49] MikeDMorgan commented on #6
Fixed in d30e84e. Each function now has a separate parameter; `design.df` for `testNeighbourhoods` and `meta.data` for `countCells`.

[2020-08-12 14:49] #6 closed

[2020-08-13 12:21] emdann opened #8 "Bug in is_empty: a reference obj doesn't exist"
There is an uninitialized `sym1.milo` object in the `is_empty` function called by `testNeighbourhoods`

https://github.com/MikeDMorgan/miloR/blob/f58e0123d8acba812ce0bb8039458cfea1cfd5ce/R/testNeighbourhoods.R#L119

which breaks `testNeighbourhood`

[2020-08-13 12:22] emdann commented on #8
I'll fix this real quick

[2020-08-13 12:27] #8 closed

[2020-08-13 12:27] emdann commented on #8
https://github.com/MikeDMorgan/miloR/commit/c367fae39646f864c9fd0740426fca913dd377be

[2020-08-13 12:55] emdann opened #9 "Something broken with .is_empty in testNeighbourhoods"
I get this error when running `testNeighbourhoods`:
[code]

I found [this comment](https://github.com/hemberg-lab/SC3/issues/53#issuecomment-355736905) suggesting that it might be an underlying problem of having a matrix of class `dgCMatrix` in `SingleCellExperiment` slots, but if I convert the counts to a regular matrix I get a weirder error:
[code]

Any suggestions here

[2020-08-13 14:02] emdann commented on #9
The problem here is with `.is_empty` not using the `rowSums` function from `Matrix` in , because if I put `Matrix::rowSums` in the function it works fine. Not sure how to fix this.

[2020-08-13 14:11] emdann opened #10 "Naming consistency: neighbourhoods VS neighborhoods"
For some functions we have one, for some the other.

Also it's quite long to write all the time. I would be pro using `nhoods` everywhere instead.

[2020-08-13 15:50] MikeDMorgan commented on #9
I don't know why it's not using rowSums from Matrix - this should have been fixed in d30e84e95fc9957a7e871d214abbc2f386144b84:
`#' @importFrom Matrix rowSums`

[2020-08-13 15:52] MikeDMorgan commented on #10
Yeah, the strictly English spelling is neighbourhoods - but I keep mistyping.  I fully support going wholesale for nhoods - it's going to piss off users having to write this out the whole time. I'll put together a separate branch to fix this.

[2020-08-13 16:00] emdann commented on #10
Mental sanity: restored :white_check_mark:

[2020-08-13 16:56] MikeDMorgan commented on #10
Fixed and merged into master.

[2020-08-13 16:56] #10 closed

[2020-08-14 15:28] emdann opened #13 "buildGraph recomputes the PCA when it's already there"
What is the purpose of this conditional statement supposed to be?  https://github.com/MikeDMorgan/miloR/blob/e86041a824c4308956ce59ce46aa7b383da9205a/R/buildGraph.R#L68

If I have a `Milo` object with only one slot named `PCA` in `reducedDim(x)` it wants to recompute the PCA.

[2020-08-17 09:07] MikeDMorgan commented on #13
Good catch - 8a387cb should fix this - just running tests to be sure.

[2020-08-17 09:34] MikeDMorgan commented on #13
Tests passed.

[2020-08-17 09:34] #13 closed

[2020-08-17 10:24] MikeDMorgan commented on #9
@emdann I haven't seen this issue arise since d30e84e - can you confirm, if it's fixed I'll close this issue.

[2020-08-19 14:24] MikeDMorgan commented on #9
I've now refactored this into utils.R and rename .check_empty so it can be used in multiple functions.

[2020-08-19 14:24] #9 closed

[2020-08-19 14:49] MikeDMorgan opened #14 "`meta.data` in `countCells` needs to accept dplyr objects as well"
This is a place-holder, but for usability we need to make `countCells` handle dplyr data.frame-alikes.

[2020-08-20 09:51] MikeDMorgan opened #15 "Allow adjaceny matrix input for graph building..."
...to allow input from ScanPy (and Seurat?!)

[2020-08-21 08:30] MikeDMorgan opened #16 "miloR::graph() conflicts with igraph::graph()"
Need to change the getter and setter for the `graph` slot to prevent name overwriting by igraph and _vice versa_

[2020-08-25 17:18] emdann opened #18 "Problems with logcounts for calcNhoodsExpression"
The function complains about `logcounts(x)`:
[code]
Not sure what's wrong, just running `t(logcounts(x))[subset_rows,]` works fine.

If I try to convert `logcounts(x)` to a non-sparse matrix the function never ends, the R session crashes, all burns 🔥

[2020-08-26 16:02] MikeDMorgan commented on #18
Could you give me a reproducible example with data? What is the class of `x` and how big is it?

[2020-08-26 16:13] emdann commented on #18
[code]
[code]

Should I send you the milo object in RDS?

[2020-08-26 16:14] emdann commented on #18
[code]

[2020-08-26 16:18] MikeDMorgan commented on #18
What is the class of `logcounts(x))[subset_rows,]`?

[2020-08-26 16:22] emdann commented on #18
[code]

[2020-08-26 16:24] MikeDMorgan commented on #18
OK, send me the  RDS file and I'll investigate, I'm not sure exactly what is happening there.

[2020-08-26 16:26] emdann commented on #18
On it's way

[2020-08-26 17:17] MikeDMorgan commented on #18
I have a somewhat sneaky feeling that not all of the `Matrix` package functions are available inside the `.calc_expression` namespace, so it's not using the correct `t()` function, i.e. it's using the base::t() rather than Matrix::t(). I think, but it's basically impossible to tell as `Matrix` is imported by several other packages so can't be unloaded in an interactive session. add '@import Matrix

[2020-08-26 17:20] MikeDMorgan commented on #18
I'm going to say that 85255a5 is a patch, as it doesn't preserve the rownames at the moment...

[2020-08-27 09:09] #18 closed

[2020-09-14 15:32] MikeDMorgan commented on #14
Fixed with #19

[2020-09-14 15:32] #14 closed

[2020-09-18 08:14] emdann opened #20 "Wrong return value in docs"
`testNhoods` returns a `data.frame` with results, not a `Milo` object
https://github.com/MikeDMorgan/miloR/blob/7fb8c70d667536230ed009a9437b623767c54f49/R/testNhoods.R#L36

[2020-09-18 08:54] MikeDMorgan commented on #20
Oops - it does indeed. Thanks!

fix in 953c4a5

[2020-09-18 08:54] #20 closed

[2020-09-18 10:34] emdann opened #21 "Fix nhood plotting functions"

[2020-09-22 13:24] MikeDMorgan opened #25 "DGE tests required"
Write unit tests for `findNhoodMarkers` and `testDiffExp`.

[2020-09-23 12:27] emdann opened #27 "NhoodGraph tests required"
Write tests for `buildNhoodGraph` and `plotNhoodGraph`

[2020-09-23 14:01] emdann opened #28 "findNhoodMarkers doesn't return the nhood groups"
This would be useful for plotting purposes

[2020-09-23 14:04] MikeDMorgan commented on #28
It's on my to do list, sorry - it should be fairly trivial to do this.

[2020-09-23 14:37] emdann commented on #28
I'd also add and option to subset nhoods for testing. E.g. in the liver case I want to do the test just in one lineage. I can subset manually the Milo obj and the results data.frame, but it would be a nice feature.

[2020-09-23 15:47] MikeDMorgan commented on #28
65fbb33 should solve this. Could you add the subsetting feature as a separate issue?

[2020-09-23 15:47] #28 closed

[2020-09-23 15:48] emdann opened #29 "DGE testing with subset of neighbourhoods"
I'd also add and option to subset nhoods for testing. E.g. in the liver case I want to do the test just in one lineage. I can subset manually the Milo obj and the results data.frame, but it would be a nice feature.

[2020-09-24 07:25] MikeDMorgan commented on #29
Resolved with #30

[2020-09-24 07:25] #29 closed

[2020-09-24 08:09] #21 closed

[2020-09-24 08:37] emdann commented on #28
Sorry for not clarifying earlier, what I meant here is returning an assignment of nhoods to groups, rather than cells to groups. This I could use to make a grouped heatmap of the `nhoodExpression(x)` matrix. Do you think this would be useful?

[2020-09-24 08:39] emdann commented on #28
(or for subsetting the nhoodExpression matrix)

[2020-09-24 08:42] MikeDMorgan commented on #28
I think this might be better off as a completely separate function that specifically returns the nhood groups in that case. It should be fairly trivial as the main worker functions are already in the `testDiffExp.R` file. This will require some refactoring, and probably worth moving the `.group_nhoods_by_overlap` to the `utility.R` file instead.

I'm working on the tests for both DGE functions at

[2020-09-24 10:34] emdann opened #32 "calcNhoodExpression doesn't work for a single feature"
Maybe it's enough to throw an informative error message, but at the moment running with one gene gives a funny error.

[code]

[code]

It's probably just about adding a `drop=FALSE`. @MikeDMorgan I can fix this in `.calc_expression` if that's ok with you.

[2020-09-24 10:37] MikeDMorgan commented on #32
Yeah, it's because R will automatically cast a 1-D matrix to a vector so the dimensions won't match. The alternative approach would be to check the class of the subset object first, then perform the correct operation based on that result.

[2020-09-24 10:41] emdann commented on #32
Changing all instances of `data.set[subset.row, ]` in `.calc_expression` to `data.set[subset.row, , drop=FALSE]` seems to do the job. Is there any side effect I am not seeing?

[2020-09-24 10:45] MikeDMorgan commented on #32
That's definitely the simplest way to do it.

[2020-09-24 10:52] emdann commented on #32
Fixed with 064ebd4

[2020-09-24 10:52] #32 closed

[2020-09-24 15:53] MikeDMorgan commented on #27
Resolved with #31

[2020-09-24 15:53] #27 closed

[2020-09-25 13:41] MikeDMorgan commented on #25
Added in #33

[2020-09-25 13:41] #25 closed

[2020-09-25 13:43] MikeDMorgan opened #34 "We need vignettes"
We can use the ones in the main milo repo for this. I need to double-check what the format and minimal requirements are for Bioconductor here.

[2020-10-02 09:12] MikeDMorgan opened #35 "Separate graph building and distance calculation"
I have a terrible feeling that much of the time taken during graph building on large data sets, and subsequently the large memory footprint is taken up by the distance calculations.

If we can separate these two steps (we currently delegate the distance calculations to `BiocNeighbours::findKNN`), we could optimise these two steps independently.

[2020-10-05 09:14] emdann opened #36 "Profiling of makeNhoods"
Which step of refined sampling is slowing down the calculation?

[2020-10-05 09:15] emdann opened #37 "Faster buildNhoodGraph"
Try first searching for nhoods with at least some common cells using `%in%`, then calculate `length(intersect(nh1, nh2))` just for those pairs

[2020-10-05 12:57] emdann commented on #36
Solved in https://github.com/MikeDMorgan/miloR/pull/38/commits/cc4d6777adefb0125989d5aa70a27eab708967f3

[2020-10-05 15:32] emdann commented on #37
Addressed in https://github.com/MikeDMorgan/miloR/pull/39/commits/42db3c4f9adf38475eb1234fbc3c8e0ddd99d601

[2020-10-05 16:25] emdann opened #40 "Faster findNhoodMarkers"
`findNhoodMarkers` can be quite slow, and the critical step seems to be the `.group_nhoods_by_overlap` function. I noticed that also here there is some looping in between many pairs of nhoods, similar to what was slowing down `buildNhoodGraph` before  https://github.com/MikeDMorgan/miloR/pull/39/commits/42db3c4f9adf38475eb1234fbc3c8e0ddd99d601 :
https://github.com/MikeDMorgan/miloR/blob/4b192a3b90

[2020-10-05 16:40] #36 closed

[2020-10-05 17:21] #37 closed

[2020-10-05 17:23] MikeDMorgan commented on #40
I'm definitely not adverse to speeding this up - do you want to have a go?

[2020-10-07 13:57] MikeDMorgan commented on #40
Fixed in #41

[2020-10-07 13:57] #40 closed

[2020-10-07 14:19] MikeDMorgan commented on #35
Done in #42 Please note the refactoring from a matrix to a list of matrices.

[2020-10-07 14:19] #35 closed

[2020-10-09 08:14] emdann opened #44 "Package data format"
Having a look at the dataset included in the package, I wonder if we should load these as `SingleCellExperiment` objects to demonstrate usage the `Milo` constructor?

[2020-10-09 08:40] MikeDMorgan commented on #44
Yeah, that's probably easier. It also means that if we change anything in the `Milo` class then we won't have a load of invalid data objects creating issues. I'll regenerate them as SCEs and upload.

[2020-10-09 08:51] MikeDMorgan opened #45 "Neighbourhood grouping"
Except in the case of the multiple discrete blocks, the neighbourhood grouping _almost always_ only generates 2 groups if I use the same FDR threshold as the DA testing (relaxing this gives more granular grouping in line with expectations in the mouse thymus data). Even an FDR 100% still only returns 4 groups...

My concern is that the simple approach using weakly connected components struggles wh

[2020-10-09 08:52] MikeDMorgan commented on #45
I should say, that this is obviously alleviated by subsetting the neighbourhoods first - but users aren't always going to have a grouping _a priori_ like we do for the public data sets...

[2020-10-09 09:02] MikeDMorgan commented on #44
Remedied in 39cd9fe. I've removed the `Milo` object as the data were too big otherwise.

[2020-10-09 09:02] #44 closed

[2020-10-09 09:13] emdann commented on #45
But isn't the number of groups mainly determined by the amount of overlap?

[2020-10-09 09:15] MikeDMorgan commented on #45
It doesn't seem so. I think in most continuous trajectories, or where there is quite high similarity in transcriptomes (as is the case for TEC, T cells and others), then they are not that weakly connected.

[2020-10-09 09:15] MikeDMorgan commented on #45
Changing the overlap from 1 to 150 still gives the same groups!!

[2020-10-09 10:28] emdann opened #47 "misleading message"
Minor: running `buildFromAdjacency` still throws a message `Adding nhoodDistances to Milo object`, but the `nhoodDistances` slot is not populated anymore.

[2020-10-09 14:25] MikeDMorgan commented on #47
Cool - I'll take this out.

[2020-10-12 08:22] emdann opened #49 "Add option to use different reducedDim in buildGraph"
Not urgent, but atm `buildGraph` looks for a dimensionality reduction named `PCA`, but I might want to use a precomputed dim reduction with a different name (e.g. in the mouse gastrulation atlas the corrected reduction is called `pca.corrected`)

[2020-10-12 17:15] MikeDMorgan commented on #49
Added this in #50  - give it a go and see how it works.

[2020-10-12 17:15] #49 closed

[2020-10-13 10:23] MikeDMorgan commented on #47
Create new function for workflows that start with a distance matrix so that they can add the distance matrix _after_ defining neighbourhoods.

[2020-10-13 10:32] MikeDMorgan opened #51 "Check for nhood distances already after plotNhoods"
If `plotNhoods` has been run then the between neighbourhood distances have already been calculated - use these for the neighbourhood grouping step - otherwise compute.

[2020-10-13 10:33] MikeDMorgan commented on #45
Maybe use a hierarchical clustering on the neighbourhood similarity matrix.

[2020-10-20 14:18] emdann opened #55 "Labelling from rowData in plotNhoodExpression"
If you have IDs as rownames and you want to use gene names stored in rowData

[2020-10-21 13:59] emdann opened #56 "Subsetting the dataset for DA testing"
It would be useful to incorporate a subsetting option in `testNhood` to exclude some samples in the DA analysis, basically excluding some samples from the count matrix and design matrix.

For example, a colleague is testing out Milo on a dataset where she wants to test for differences in abundance with age, but the big dataset includes a few samples that were FACS sorted differently, and DA in tha

[2020-10-21 14:42] MikeDMorgan commented on #56
Strictly you can do this if you have a single variable that contains your variable of interest _and_ the samples you don't want, then you can use model contrast to compare the relevant groups. That only really works for categorical/factor variables though. If it's a continuous variable that's harder to do, so sub-setting might make sense.

I would be quite concerned about including samples in the

[2020-10-22 05:09] emdann opened #57 "Adding functions for annotating labels and beeswarm plot"

[2020-10-23 13:04] emdann commented on #56
I agree the way to go should be making a new graph. I'll keep this open for now, in case it becomes a frequently requested feature, but shouldn't be high priority.

[2020-10-23 14:14] MikeDMorgan opened #58 "plotNhoodExpressionDA - legend plotting positions obsucres labels"
If labelled genes are at the top of a plot, the the legend overlaps them and they cannot be seen. Using the usual tricks outside of the function to adjust legend position does not work - I assume this is something to do with cowplot.  It would be better to either not gather the legends, or to have them positioned sufficiently far from the main plot to allow gene labeling at any row of the heatmap.

[2020-10-23 16:25] MikeDMorgan commented on #45
I've done a little big more digging using the simulated trajectories and mouse thymus data sets. I've run the neighbourhood grouping code using a range of overlapping cell thresholds. It seems that the graph component based grouping is _very_ sensitive to the specific threshold used.

Below I'm showing all neighbourhoods in the simulated trajectory data, where the x-axis is the `overlap` threshold

[2020-10-26 08:53] emdann commented on #45
weird indeed, thanks for digging

[2020-10-26 09:53] MikeDMorgan commented on #47
Strictly this can be done by setting the `nhoodDistances` slot explicitly with a user-defined matrix. This should be done _after_ constructing the object and graph from `buildFromAdjacency`.

[2020-10-26 09:53] #47 closed

[2020-10-26 10:47] emdann commented on #58
The plot is assembled using `patchwork`. The space between the collected legends and the plot can be modified changing the `legend.margin` parameter on the whole patchwork. This can be done by `&` a theme object as explained [here](https://github.com/thomasp85/patchwork/issues/136#issuecomment-561311450)

Example:
[code]
![000006 (3)](https://user-images.githubusercontent.com/32264060/97162769-8f7

[2020-10-26 10:55] MikeDMorgan commented on #58
I think it would be preferable to have the space there all the time as there is no guarantee where gene labels will sit in the plot as their ordering is defined by the call to `hclust`. We have to assume that labels could be anywhere, and have a plot that is agnostic to that. I think having a legend that is slightly further out is a pretty small compromise - people can still adjust the legend if t

[2020-10-26 11:01] MikeDMorgan commented on #57
Completed in #59

[2020-10-26 11:01] #57 closed

[2020-10-26 11:57] MikeDMorgan commented on #51
Implemented in #60

[2020-10-26 11:57] #51 closed

[2020-10-27 12:38] emdann opened #62 "Vignette for downstream analysis"
On a subset of the gastrulation data

[2020-10-27 15:01] emdann opened #64 "Better docs for the Milo class"
At the moment this is incomplete and refers to old structure (e.g. nhoodDistances as matrix instead of list)

[2020-10-28 10:10] emdann opened #65 "New bug in FindNhoodMarkers"
I was rerunning the liver analysis script, after reinstalling the latest `miloR` version, and I get an error I am not sure how to debug. Running:
[code]

I get:
[code]

The traceback says the problem is in
[code]

Any ideas?

[2020-10-28 10:13] MikeDMorgan commented on #65
You need to set `compute.new=TRUE` in `findNhoodMarkers` <- the issue stems from having an older Milo object that doesn't have the proper `nhoodAdjacency` slot.

[2020-10-28 10:15] emdann commented on #65
I'll try, but I just remade the Milo object w the new version...

[2020-10-28 10:16] emdann commented on #65
It works with `compute.new`, but I am not sure what went wrong with building the Milo object.

[2020-10-28 10:20] MikeDMorgan commented on #65
Hmm, OK - I'll leave this issue open to remind me to debug this one.

[2020-10-28 16:09] emdann commented on #58
Fixed in https://github.com/MarioniLab/miloR/pull/66

[2020-10-28 16:09] #58 closed

[2020-10-29 13:38] MikeDMorgan commented on #64
resolved in 89a87d81d48500d79f8fe25140489cabdb27e662

[2020-10-29 13:38] #64 closed

[2020-10-29 14:15] MikeDMorgan opened #67 "Overplotting in nhood graphs"
The `plotNhoodGraphDA` can be hard to interpret when there is a high density of neighbourhoods. Example:
![Lymphoid_milo_CntrlVsMild-DAnhood-UMAP](https://user-images.githubusercontent.com/6473398/97585192-c4d3ea80-19f0-11eb-85dc-af93ed81f576.png)

It might be worth plotting 2 layers: 1) Non-DA neighbourhoods (white fill), 2) DA neighbourhoods (coloured by LFC). That way the DA neighbourhoods are

[2020-10-30 11:57] emdann opened #69 "Dealing with few cells from a sample"
I was running `testNhoods` on a small dataset and I got this error message:
[code]
The problem is that the cells of a one sample are not captured in any neighbourhood.

The quick (and probably the proper) fix is to remove this sample with very few cells from testing, but I think at least an error message here or a warning when running `countCells` could be useful. Ideas?

[2020-11-02 16:58] #65 closed

[2020-11-02 16:59] MikeDMorgan commented on #45
The functions should at least now behave as expected #68

[2020-11-02 16:59] #45 closed

[2020-11-02 17:01] MikeDMorgan commented on #69
Tricky - I agree an informative error message is probably the simplest thing to do.

[2020-11-06 14:05] emdann opened #72 "DGE testing aggregating by samples"
To avoid getting ridiculously small p-values

[2020-11-06 14:06] emdann opened #73 "Change nhoods slot to matrix"
Matrix of cells x nhoods, something like
[code]

[2020-11-09 11:47] emdann opened #74 "Can't build graph from reducedDim different than "PCA""
The `reduced.dim` parameter is not passed to `.buildGraph`, so default (`"PCA"`) is used
https://github.com/MarioniLab/miloR/blob/7b15411554082bc3027e47b02870a15e076880ac/R/buildGraph.R#L118-L119

[2020-11-09 12:16] emdann commented on #62
Some notes:

- Should we define the experimental design matrix BEFORE building the KNN graph? To encourage people to reprocess the data (e.g. excluding/reassigning some samples) if they don't have a balanced design.

[2020-11-09 13:24] emdann commented on #74
Fixed by 0883cd587190499c3cef0c864c9be228b1e640d4

[2020-11-09 13:24] #74 closed

[2020-11-09 15:34] emdann opened #75 "Problems with DGE testing using counts"
Running `findNhoodMarkers` setting `assay=counts` generates this error:

[code]
Traceback:
[code]
The issue arises when setting a gene offset:
https://github.com/MarioniLab/miloR/blob/0883cd587190499c3cef0c864c9be228b1e640d4/R/testDiffExp.R#L284-L288

`test.model` only has one column, so `colnames(test.model[, c(2:ncol(test.model))])` includes `NGenes` already.

The easy work-around is to set `gen

[2020-11-10 09:35] emdann commented on #72
Implemented in https://github.com/MarioniLab/miloR/pull/76

[2020-11-10 09:35] #72 closed

[2020-11-16 09:52] emdann opened #79 "Problems with .group_nhoods_from_adjacency"
1. The function renames the list of nhoods as indices, but the names in the nhood slot are usually the indices of the sampled cell
https://github.com/MarioniLab/miloR/blob/595566b2b3cba5ce1f92941e15b9bb5049ff7ef3/R/utils.R#L99-L102

This leads to wrong matching if the user provides `subset.nhoods` as indices
https://github.com/MarioniLab/miloR/blob/595566b2b3cba5ce1f92941e15b9bb5049ff7ef3/R/utils.

[2020-11-16 10:50] MikeDMorgan commented on #75
NGenes is incorporated into the model.matrix <- this is what is fed into edgeR for adjustment, so it does get used implicitly when `gene.offset=TRUE`.

I'm confused why your `test.model` only has a single column <- it should have at least 2: 1) Intercept, 2) Condition.

[2020-11-17 11:10] emdann commented on #75
Solved with https://github.com/MarioniLab/miloR/pull/80

[2020-11-17 11:10] #75 closed

[2020-11-17 11:10] #62 closed

[2020-11-17 11:10] #34 closed

[2020-11-25 15:22] pascaltimshel opened #81 "Lack of documentation for testNhoods() output"
Dear authors,

First of all, the miloR package looks incredibly useful and generally well-documented.

My issue is about the lack of documentation for the output table of `testNhoods()`. The documentation says `A data.frame of model results.` In order to use and interpret miloR results correctly, I find it important to understand the table. **Can you provide better documentation for the output tab

[2020-11-25 17:27] MikeDMorgan commented on #81
Hi Pascal,
Thanks for your interest in the package, and suggestion for improving the documentation.

To answer your specific questions:

`logFC` is the log fold change between conditions. For a comparison across ordered variables, as is the case for E7 - E8, then the interpretation of the logFC is the mean per-unit change in cell counts per change in predictor variable. So in the example above the

[2020-11-26 11:51] pascaltimshel commented on #81
Great answers. Can't think of any more questions (for now), thanks!

[2020-12-02 09:06] lucia-ramirez opened #82 "findNhoodMarkers batch correction"
For gene expression signatures, is it better to have counts previously corrected by batch effect or just include them in the model?

And also, is it possible to have sort of the intermediate output of findNhoodMarkers, where you have the list of cells that were grouped together regarding the da results and the design? I just want to check there is no further batch effect in those groups

Thanks

[2020-12-02 10:27] emdann commented on #82
Hi Lucia. The `findNhoodMarkers` function expects counts or log-counts, I would recommend using raw counts and including the technical covariate in the experimental design of the test. Depending on the number of replicates you have you might want to specify `aggregate_samples=TRUE`. This allows to perform testing exploiting the replication structure in the experimental design, rather than treating

[2020-12-06 15:06] lucia-ramirez commented on #82
return.groups = TRUE returns a data.frame with sample_group and Nhod.Group but it doesn't contain any cell ID or other information to map them to the original dataset

[2020-12-11 10:35] krejciadam opened #84 "buildFromAdjacency() throws an error"
Hi!
  I wanted to try Milo today, but got an error when trying to build the milo object from a graph adjacency matrix. In fact, `buildFromAdjacency()` throws the same error even when run with the example code in its documentation:

[code]

output:
[code]

I tried a few different matrices/sparse matrices etc. but always with the same outcome.

Thanks!

[2020-12-11 10:38] MikeDMorgan commented on #84
Hi, could you post the out put from `sessionInfo()` please.

[2020-12-11 10:40] krejciadam commented on #84
Sure!

[code]

[2020-12-11 10:41] MikeDMorgan commented on #82
@emdann sample aggregation overwrites the output meta data, so that `return.groups=TRUE` and `aggregate.samples=TRUE` are incompatible.

[2020-12-11 10:42] MikeDMorgan commented on #82
Hi @lucia-ramirez Do you have lots and lots of cells, or many, many samples? For now I'd recommend trying to run `findNhoodMarkers` with `return.groups=TRUE` and `aggregate.samples=FALSE` until we fix this, if it is urgent.

[2020-12-11 11:09] MikeDMorgan commented on #84
Can you read in any `SingleCellExperiment` object? I'm struggling to reproduce the error on both Mac and Linux (albeit I don't have access to a machine with Mint/Debian/Ubuntu).

[2020-12-11 11:12] MikeDMorgan commented on #84
It also looks like you've got some packages from previous Bioc versions - can you run `BiocManager::install(version = "3.12")` to update the relevant packages and try again.

[2020-12-11 11:13] krejciadam commented on #84
I can reproduce this example without problems.

[2020-12-11 11:14] MikeDMorgan commented on #82
Hi @lucia-ramirez could you pull in the latest version, or reinstall with `devtools::install_githib("MarioniLab/miloR)` and try again, with `return.groups=TRUE`, _and_ `aggregate.samples=TRUE`.

[2020-12-11 11:15] MikeDMorgan commented on #84
Does the problem persist after upgrading Bioconductor and re-installing miloR?

[2020-12-14 15:56] krejciadam commented on #84
After updating everything from Bioconductor and re-installing miloR, I still get the same error.

[code]

[2020-12-16 14:46] dylanmr opened #86 "Interaction testing in Milo"
Thanks for developing this really awesome package.

I have been generating a single cell dataset, in which I have 11 time points and multiple conditions. I was wondering if it would be possible to implement an LRT test in milo to identify age:condition interactions which are DA in the graph.

Thanks!
Dylan

[2020-12-16 14:50] MikeDMorgan commented on #86
Hi Dylan, If you want to test for a specific interaction, you can create a dummy variable that codifies the interaction, and test on that variable using `testNhoods`.

[2020-12-16 14:53] dylanmr commented on #86
thanks for the quick answer! I had a feeling i was overthinking it.

Dylan

[2020-12-16 14:53] #86 closed

[2020-12-19 15:53] YubinXie opened #87 "Is there any tutorial/example for Python adata as input for miloR"
Hi I am very interested in trying miloR but I am a Python user. I was wondering if there is any tutorials/example using adata as input for miloR. Thank you very much!

[2020-12-20 08:38] emdann commented on #87
Hi @YubinXie, thank you for you interest in using our package. You can find an example jupyter notebook using conversion of anndata to R [here](https://github.com/MarioniLab/milo_analysis_2020/blob/main/notebooks/milo_in_python.ipynb).

[2020-12-20 16:27] YubinXie commented on #87
Amazing thank you!!!

[2020-12-20 16:27] #87 closed

[2021-01-01 19:03] rrc1737 opened #88 "error running miloR examples"
A problem with my installation?
Thanks

**Mouse gastrulation example:**

embryo_milo <- Milo(embryo_data)
Error in validObject(.Object) :
  invalid class “Milo” object: 1: invalid object for slot "nhoodCounts" in class "Milo": got class "ddiMatrix", should be or extend class "matrixORMatrix"
invalid class “Milo” object: 2: invalid object for slot "nhoodExpression" in class "Milo": got class "ddiMa

[2021-01-02 10:49] emdann commented on #88
Hi, is your `embryo_data` object created from an `anndata` with `anndata2ri`?

[2021-01-02 15:33] rrc1737 commented on #88
Hello,
No, I don't think so.
I was following the instructions in the first two tutorial examples you provide, just cutting and pasting.
So sim_trajectory is from "miloR" and embryo_data is from the "MouseGastrulationData" package.
I do have scanpy and anndata installed, but didn't invoke them.
Thanks

[2021-01-04 08:17] rrc1737 commented on #88
I removed scanpy, anndata and moved my miniconda directory.
Reinstalled miloR and dependencies.
I no longer get the error and can complete the Mouse Gastrulation example.

Thanks for the clue and apologies for the noise.
(I've had problems in past when installing R packages and R pulling things from the conda tree that is R-free)

[2021-01-04 08:37] emdann commented on #88
Great to hear this was sorted for you. For now I'll close, but we'll look into how to solve this conflict for new users.

[2021-01-04 08:37] #88 closed

[2021-01-04 13:39] rrc1737 commented on #88
Hello Emma,

From memory one of the R packages I’ve had this trouble with in the past is igraph.

I’ve renamed the miniconda directory during the R package installation and once that’s complete returned it to its original name. Subsequent function has been fine.

It’s been too expedient to do this rather than figure out why it’s searching for dependencies in the conda tree.

Rajiv

Get Outlook for

[2021-01-06 12:21] bjstewart1 opened #89 "countCells speed"
Great tool - super useful.
Can I suggest speeding up the countCells.R using lapply with a nested for loop, I find it improves speed vs filling the matrix with 2x for loops.

something like this (no doubt could be tidied up ++ ) seems to work:

[code]

[2021-01-06 12:25] bjstewart1 opened #90 "buildNhoodGraph speed ?necessary"
Great tool - super useful.

I am finding buildNhoodGraph extremely slow and doesn't scale well with increasing dataset size. Presumably because it is trying to generate a dense adjacency matrix for all neighbourhoods...

As far as I can see this isn't strictly necessary for downstream analysis (correct me if I am wrong!!) and you could (perhaps just for larger datasets) plot the neighbourhoods acc

[2021-01-06 12:32] bjstewart1 commented on #90
I suppose the alternative to this would be to rethink
`buildNhoodGraph`
as a KNN graph construction exercise between the representative cells?

Final thought is that
`.build_nhood_adjacency` outputs the adjacency as the length of the intersect.
Have you considered instead using the jaccard distance between neighbourhoods?
so in:
`.build_nhood_adjacency `

   ` pairs_int <- sapply( which(keep_pairs

[2021-01-06 12:50] emdann commented on #89
Hi Ben, thanks for your suggestion. I agree this function and others would benefit from some significant refactoring.
We were actually planning to change the `nhoods` slot from a list to a sparse binary matrix (mentioned here https://github.com/MarioniLab/miloR/issues/73). This should make several steps quicker, including the `countCells` function, which would become a simple dot product between t

[2021-01-06 12:52] bjstewart1 commented on #89
Well that's an even more elegant solution! Terrific

[2021-01-06 14:25] MikeDMorgan commented on #84
Hi, sorry for the radio silence - we (@emdann and I) are unable to recreate this error on multiple Linux & Mac systems. Are you using R via a Conda environment or do you have Conda installed?

[2021-01-06 14:32] emdann commented on #67
- use `ggraster` to make this faster for when you have a lot of edges
- Add option to remove the edges

[2021-01-06 14:36] emdann opened #91 "Remove dplyr/tidyr dependencies"
Found in plotting functions and `FindNhoodMarkers.R`

[2021-01-07 10:24] krejciadam commented on #84
Thanks for trying out.
I'm not using R via Conda, though I have Conda installed on my system. The behavior is the same in terminals with Conda initialized and Conda not initialized.

[2021-01-07 10:28] MikeDMorgan commented on #84
I wondered if there is a mismatch between packages that R is looking for when Conda is installed, regardless of whether the environment is active or not. We've had a similar issue which was similar, but with a Python package conflict.  The error message itself comes from `SingleCellExperiment`, which suggests that an old version of `SingleCellExperiment` is being accessed/used somewhere.

Do you h

[2021-01-07 13:06] krejciadam commented on #84
I see. No, I only have `/usr/bin/R`

Anyway, I installed all the updates to Bioconductor packages that appeared since mid December and now I get a different error:

[code]

[code]

[code]

[2021-01-07 13:24] MikeDMorgan commented on #84
Hi - it seems that this error arises from a change in the default return class from the`Matrix` package. Could you pull the latest from 42b3954e81cb8a873921d5b92da358daaff0d6d0 on the master branch and see if this error, or the previous one, persist?

[2021-01-07 13:34] krejciadam commented on #84
Sure! Indeed, that gets me back to the original error:

[code]

[2021-01-07 16:05] MikeDMorgan commented on #84
OK, I think I traced the problem down - a fix is currently testing if you want to test it out from #92?

[2021-01-07 16:37] MikeDMorgan commented on #84
Update: this is now merged into the master branch.

[2021-01-07 19:10] emdann commented on #90
I'm a bit weary of switching from intersection to JI since the matrix stored in the `nhoodGraph` slot is also used to group nhoods for the differential expression analysis functions. @MikeDMorgan any thoughts?

[2021-01-07 20:21] bjstewart1 commented on #90
yes fair enough if it is used downstream rather than just for aesthetic plotting...
look forward to the speed advantages with #93

[2021-01-08 09:11] MikeDMorgan commented on #90
I'd rather keep the adjacency based on the number of overlapping cells between neighbourhoods, as this can be used to tune the nhood grouping - it's not clear how to necessarily translate that directly to a JI value. We can keep it in mind if we do want think about the adjacency/nhood grouping based on set operations though.

[2021-01-08 10:43] emdann commented on #73
Solved by https://github.com/MarioniLab/miloR/issues/73

[2021-01-08 10:43] #73 closed

[2021-01-08 10:44] emdann commented on #89
Addressed by https://github.com/MarioniLab/miloR/issues/73.

@bjstewart1 try it out and let us know how it's going!

[2021-01-08 10:44] #89 closed

[2021-01-08 10:49] emdann commented on #90
Speed issues addressed by https://github.com/MarioniLab/miloR/issues/73

[2021-01-08 12:38] krejciadam commented on #84
Installed the current master and it works indeed! Thanks a lot!

[code]

[2021-01-08 12:38] #84 closed

[2021-01-19 08:52] ccruizm opened #95 "How to use a kNN constructed by Seurat"
Good day!

Great tool! I am trying to implement it on my data but have not been able to make it work so far. I have analyzed my data using `Seurat`, normalized my data via `SCTransform`, and integrate the dataset with `FastMNN`.
I exported my `Seurat` object to `SingleCellExperiment` and then create a `Milo` class object:
[code]
I tried to use the MNN reduction in `buildGraph`:
[code]
and starts r

[2021-01-19 08:57] emdann commented on #95
Hi @ccruizm
There seems to be a typo in the name of the `reduced.dim` you pass to `buildGraph` (`"MMN"` and not `"MNN"`). If the function can't find the name of the reduced dim in the Milo object, it will try to run PCA on the full feature matrix.

[2021-01-19 09:02] ccruizm commented on #95
Totally right, did not notice it! naive mistake. Thanks!

[2021-01-19 09:02] #95 closed

[2021-01-19 09:04] #90 closed

[2021-01-19 09:47] MikeDMorgan commented on #79
I will update the nhood grouping to make use of the nhoodGraph. Initially I'll use Louvain clustering as this _should_ provide modular clusters that are intuitive.

[2021-01-19 16:15] MikeDMorgan commented on #79
Resolved in #96

[2021-01-19 16:15] #79 closed

[2021-01-22 17:58] zktuong opened #98 "Minor error with countCells when using scanpy/anndata worflow"
Hi,

just found a small compatibility error when interacting with scanpy/anndata due to how sometimes pandas's categorical don't play nice in R's data frame. It throws the following error:

[code]

This fixes the error start Line 68:

from
[code]

to

[code]

[2021-01-22 18:02] MikeDMorgan commented on #98
Thanks Kelvin - strictly there should first be a check for the data type of `meta.data[, samples]`, and if not character or factor, then it can be cast to the appropriate format as you suggest.

Do you want to put together a PR for this?

[2021-01-22 18:07] zktuong commented on #98
Hi Mike, sure.

I assume the preference is to respect factor levels first? Because uniques ignores the factor levels.

[2021-01-22 18:11] MikeDMorgan commented on #98
Sure - generally we shouldn't expect factors thinking about it for sample levels, but just in case there is an errant `stringAsFactors=TRUE` is active somewhere we should use `levels` when appropriate - I'll reconcile the use of `unique`  and `levels` once you've made the PR.

[2021-01-22 18:12] zktuong opened #99 "speed up calcNhoodDistance"
Hi,

it seems that the bottleneck for this function is in the sapply function.

the following function(s) should enable parallelization:

[code]

so it will look like this if used:
line 65
[code]

Parallelizing across 24 cores for 200k cells says it will take 40min ... ? Though I'm not sure how long it normally runs otherwise.

I can put together a PR for this as well and you can check to see if t

[2021-01-22 18:16] MikeDMorgan commented on #99
Hi Kelvin - could you hold off on this please. In general, there can be a large memory cost when using parallelised `apply` functions that will need extensive checking, likewise for the additional overhead of multiple processes.

If you want to make a new branch and do some bench-marking then please feel free and report back here.

[2021-01-22 18:24] emdann commented on #99
I agree with @MikeDMorgan and I'll have a think about an efficient refactoring before going down the parallelization route, this piece of code looks like it could be slimmed down...

[2021-01-22 18:59] zktuong commented on #99
Ah ok. yea the 40 min was too optimistic... slowed down considerably now. I'll have to rethink this.

[2021-01-22 20:05] #99 closed

[2021-01-24 18:38] emdann opened #101 "Problems when specifying contrasts for testing"
I get an error when running `testNhoods` specifying the `model.contrasts` option:
[code]

[code]
[code]

I think the problem is that the contrasts should be used to build the model.matrix [here](https://github.com/MarioniLab/miloR/blob/362435be68e918024fcc1998d31122a5ff447fde/R/testNhoods.R#L100):
[code]

It might be that I am using the `model.contrasts` option incorrectly, but if that's the case

[2021-01-25 09:02] MikeDMorgan commented on #101
The entries of `model.contrasts` should follow the convention in `edgeR`. That means that the should take the form of `"LevelA - LevelB"`, where `Level` is the column name. So the model matrix should have columns with A and B.

[2021-01-25 09:08] emdann commented on #101
I get the same error when specifying `model.contrasts = list("synth_batchesB3 - synth_batchesB2")`. The `model.matrix` is built internally to `testNhoods`, how do I make sure this includes columns for all factor levels?

[2021-01-25 09:09] MikeDMorgan commented on #101
See edited comment above - it shouldn't be a list.

[2021-01-25 09:10] #98 closed

[2021-01-25 09:14] emdann commented on #101
Also using `model.contrasts = "synth_batchesB3 - synth_batchesB2"` gives the same error. I don't think having a list or not matters, as long as all the levels are in `model`

I can open a PR to change this: https://github.com/MarioniLab/miloR/blob/362435be68e918024fcc1998d31122a5ff447fde/R/testNhoods.R#L100

to:
[code]

[2021-01-25 09:22] MikeDMorgan commented on #101
The model contrasts are passed to `makeContrasts`:
https://github.com/MarioniLab/miloR/blob/362435be68e918024fcc1998d31122a5ff447fde/R/testNhoods.R#L135

Which means they have to follow the form above. That means the model matrix has to have a column for _each level of the variable_. This line:

[code]

Should be:
[code]

[2021-01-25 09:26] emdann commented on #101
Ok, forget the comment above that was dumb, but:
[code]

[2021-01-25 09:28] emdann commented on #101
Ok, it's Monday morning: there is no B3 in this `design_df` LOL

[2021-01-25 09:28] #101 closed

[2021-01-25 09:28] MikeDMorgan commented on #101
Ha - thanks - I was just about to say that was probably the issue ;-)

[2021-01-26 17:27] emdann opened #103 "Separating nhood grouping from test for markers"
The user can decide which nhood groups to use for testing and to aggregate groups if needed. Requires refactoring of `findNhoodMarkers`.

[2021-01-27 01:56] jmchan88 opened #104 "Error with running calcNhoodExpression for mouse gastrulation dataset"
Hello!

I'm trying to go through your mouse gastrulation dataset, but I get the following error when I run

[code]

I get this error
[code]

I have a sneaking suspicion it's a library version/loading problem but not sure what .... not sure if you have a sense of what it might be?

Thanks!

Joe

[2021-01-27 03:52] jmchan88 commented on #104
Nevermind, reinstall fixed!

[2021-01-27 03:52] #104 closed

[2021-01-27 12:59] bjstewart1 opened #105 "reproducibility of neighborhood generation"
Can you add a set.seed for `makeNhoods`
Repeat runs generate different results.
set.seed() globally doesn't seem to fix this.

[2021-01-27 13:01] MikeDMorgan commented on #105
`set.seed` should only be set by the user - setting within functions can have unintended consequences. See:
https://www.bioconductor.org/developers/package-guidelines/

Can you post a reproducible example, i.e. identical input and `set.seed`, but with different results?

[2021-01-27 13:29] bjstewart1 commented on #105
Here is an example:

Do let me know if I'm doing something obviously wrong
[Reprod example.pdf](https://github.com/MarioniLab/miloR/files/5880508/Reprod.example.pdf)

[2021-01-27 13:37] MikeDMorgan commented on #105
Thanks - can I ask you to check if you get the same output for `runif(5)` before and after the `buildGraph` step?

[2021-01-27 13:45] bjstewart1 commented on #105
short answer is no. Posted below.
[Reprod example.pdf](https://github.com/MarioniLab/miloR/files/5880572/Reprod.example.pdf)

[2021-01-27 13:48] MikeDMorgan commented on #105
OK, try setting the seed before the for loop as well, after the call to `buildGraph`.

[2021-01-27 13:53] bjstewart1 commented on #105
Interestingly - before for loop get different results.
Directly before the `makeNhoods` function in the for loop getting identical results.

Thanks for helping troubleshoot this.
It makes me a bit nervous that set.seed() seems so fragile :/
So I will set the seed again directly before  `makeNhoods` and hopefully that will fix. Any idea what underlies this behaviour?
[Reprod example.pdf](https://gi

[2021-01-27 13:55] MikeDMorgan commented on #105
Glad that fixed it. I'm not sure tbh - random number generators are fairly complex by the sounds of things:
https://stackoverflow.com/questions/13997444/print-the-current-random-seed-so-that-i-can-enter-it-with-set-seed-later/27672096

[2021-01-27 13:56] bjstewart1 commented on #105
much obliged. thanks for your assistance. Might be an idea to test this on the vignettes?

[2021-01-27 13:56] #105 closed

[2021-01-27 14:38] emdann opened #106 "[Minor] uniform parameter name for name of reducedDim slot"
Drives me insane. Posting just so I remember to fix this ASAP.

[2021-01-27 14:42] emdann opened #107 "Error in makeNhoods when using KNN graph built by scanpy"
Running from the [vignette](https://github.com/MarioniLab/milo_analysis_2020/blob/master/notebooks/milo_in_python.ipynb):
[code]
I get:
[code]

Works perfectly if I run
[code]

[2021-02-02 17:09] MikeDMorgan commented on #107
I haven't had a chance to delve into this, but it looks like it's coming from `Matrix`. I occasionally get some weird indexing warnings, the source of which is a bit of a mystery. Can you pin down where in `makeNhoods` this error comes from, i.e. what is the full traceback?

[2021-02-02 17:11] MikeDMorgan opened #108 "Working with large & complex datasets"
We may run into serious memory issues for large data sets. Namely, with the initial sampling of `makeNhoods`. I have a suspicion that very sparse initial sampling might be sub-optimal on large data sets, and this should be ~0.3. However, on large data sets (~200,000 cells, ~140 donors), the memory explodes.

[2021-02-02 17:20] emdann commented on #108
Why increase `prop` when you can increase `k`?

[2021-02-02 17:41] MikeDMorgan commented on #108
`k` controls both the size of the nhood and therefore the _resolution_ of the graph, whilst `prop` controls the graph coverage. I know that past a certain point, the nhoods will start to saturate as you increase `prop`, however, I think this point increases as both the total N cells _and_ the total M samples increases. I suspect this is principally an issue for cohort-sized experiments where M is

[2021-02-05 11:10] MikeDMorgan commented on #56
I've started on the solution for this by allowing a `design.df` to be passed to `testNhoods` where the rownames are a strict subset of the colnames of `nhoodCounts`: #109

I'm not sure if it completely allows this behaviour yet - it'll need proper road-testing.

[2021-02-05 18:09] amasden opened #111 "Error in calcNhoodDistance when computing neighbourhood connectivity"
Below is my code......

sce <- as.SingleCellExperiment(seurat)

# Differential abundance testing

### Create a Milo object
milo <- Milo(sce)

### Construct KNN graph
milo <- buildGraph(milo, k=30, d=30)

### Defining representative neighbourhoods on the KNN graph
milo <- makeNhoods(milo, prop = 0.1, k = 30, d=30, refined = TRUE)
plotNhoodSizeHist(milo)

### Counting cells in neighbourhoods
milo <-

[2021-02-05 18:11] MikeDMorgan commented on #111
Could you post the output of `sessionInfo()` please? This is most likely because of an out-of date version of the Matrix package.

[2021-02-05 18:14] amasden commented on #111
R version 3.6.0 (2019-04-26)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 18.04.2 LTS

Matrix products: default
BLAS:   /usr/lib/x86_64-linux-gnu/openblas/libblas.so.3
LAPACK: /usr/lib/x86_64-linux-gnu/libopenblasp-r0.2.20.so

locale:
 [1] LC_CTYPE=C.UTF-8       LC_NUMERIC=C           LC_TIME=C.UTF-8        LC_COLLATE=C.UTF-8     LC_MONETARY=C.UTF-8
 [6] LC_MESSAGES=C.UTF-8    LC_P

[2021-02-05 18:22] MikeDMorgan commented on #111
For now the easiest thing would be to upgrade to Matrix v1.3-0:
https://cran.r-project.org/web/packages/Matrix/news.html

We'll add a patch that allows the old behaviour for sparse matrices, i.e. `giveCsparse = TRUE/FALSE`.

[2021-02-05 19:06] amasden commented on #111
Sorry for the late reply, I installed newer version with v1.3-2 and no error came out!

Really grateful for your help!

[2021-02-05 19:06] #111 closed

[2021-02-10 21:15] emdann opened #112 "Dependency on Matrix > 1.3"
Running `countNhoodDistance` with installed Matrix < 1.3 throws an error, because of missing `repr` parameter in old version of sparse matrix https://github.com/MarioniLab/miloR/blob/e907431f25e40ef66cc3c2e13a5c8284a0e04d44/R/calcNhoodDistance.R#L100-L102
Is it safe to add `Depends: Matrix > 1.3` to the `DESCRIPTION`? Or is the `repr` option disposable?

[2021-02-11 09:09] MikeDMorgan commented on #112
We could have a version check and pass either `Csparse=TRUE/FALSE` (Matrix < 1.3) or `repr="T/C"` (Matrix >= 1.3). This isn't the only function that instantiates a `sparseMatrix`, so it would need to apply to all of them. We could as you suggest just enforce a minimum version of Matrix.

If we enforce a minimum version of Matrix, then I think we need to treat this as a version change for `miloR` a

[2021-02-18 10:07] pascaltimshel opened #114 "No man pages found in package ‘miloR’"
I cannot access any man pages for miloR:

[code]

It seems like you have not enabled the man pages for the package. It would make it easier for users if don't have to open a browser and go to https://marionilab.github.io/miloR/.

I used `devtools::install_github("MarioniLab/miloR")` to install miloR, where I also get the message: `No man pages found in package  ‘miloR’`
[code]

[2021-02-18 10:14] emdann commented on #114
Hi @pascaltimshel, thank you for flagging this, something must have gone wrong in the latest build. I'm on it.

[2021-02-18 11:12] pascaltimshel opened #115 "Mapping cells to (grouped) neighbourhoods"
hi @MikeDMorgan and @emdann,

I have a few questions regarding cell to neighbourhood mapping. I hope you can help me here...

### Q1: Mapping cells to neighbourhoods
**Q1**: Is it correct that this is the best (or only) way to the the cell ids for the neighbourhood_idx=14?
`colnames(milo)[milo@nhoods[,14]==1]`

### Q2: Mapping cells to grouped neighbourhoods
The [testDiffExp](https://marionilab.gi

[2021-02-18 11:25] pascaltimshel commented on #81
Just to clarify "logFC is the log fold change between conditions": logFC is the _natural log_?

[2021-02-18 11:26] emdann commented on #115
Hi @pascaltimshel

colnames(milo)[milo@nhoods[,14]==1]

Yes, do you think a getter would be useful in this case?

Yes we can and we will! We are preparing a refactoring where the grouping and the DGE testing will be separate functions, with intermediate objects stored (mentioned in https://github.com/MarioniLab/miloR/issues/103). This way the user can decide which neighbourhood groups to choose fo

[2021-02-18 11:56] emdann commented on #103
Allow testing between DA neighbourhood groups and non DA groups

[2021-02-18 13:01] pascaltimshel commented on #115
Thanks a lot for the really helpful replies!

**Q1**

Yes I think that would be useful, since such a function will end up in the documentation and hence make it easier for users to find.

**Q2A**

This sounds like a great idea! Since I'm very interested in using this workflow for my current analysis, do you have a rough estimate on when a (beta) release will be ready?

**Q2B**

Can you elaborate o

[2021-02-18 13:22] emdann commented on #115
No promises here, but certainly before the end of Feb

Bear in mind that here we are not clustering cells but neighbourhoods. We construct an adjacency matrix between neighbourhoods, counting how many cells they have in common (this is the same as computed by `buildNhoodGraph` and stored in `nhoodAdjacency(milo)`). Then the adjacency matrix is used for louvain community detection.

In the previous

[2021-02-18 16:21] pascaltimshel commented on #115
Thanks for the details - it makes better sense now! But let me try to get the last part I don't understand: what did you mean exactly by 'disconnected communities'? That is, why does some neighbourhoods not get assigned to groups? I thought louvain clustering would result in group/cluster assignment of all input observations (in this case neighbourhoods) - but maybe I'm wrong.
If I still don't fol

[2021-02-20 22:34] MikeDMorgan commented on #81
Hi @pascaltimshel, yes that is correct. I think it's fair to say that `log` would be generally interpreted as the natural logarithm as there is no base specified.

[2021-02-20 22:34] #81 closed

[2021-02-22 09:54] MikeDMorgan commented on #112
See PR #117

[2021-02-22 09:56] emdann commented on #112
thanks Mike!

[2021-02-22 18:03] MikeDMorgan commented on #112
Real fix will be in #119

[2021-02-22 18:07] StefanoBertoUTSW opened #121 "Invalid Class"
Hello!

I have a little issue when I want to create a Milo object from a single cell experiment.

the error I got is this:
invalid object for slot "nhoodCounts" in class "Milo": got class "ddiMatrix", should be or extend class "matrixORMatrix"

I processed the data using Seurat and converted in SCE.

Any suggestion?
Thanks!

[2021-02-22 18:13] emdann commented on #121
Hi @StefanoBertoUTSW
Thanks for reporting this. I'm not sure when you installed the package, but could you try reinstalling with `devtools::install_github("MarioniLab/miloR")`? This used to be an issue, but `matrixORMatrix ` should now include `ddiMatrix` https://github.com/MarioniLab/miloR/blob/9dd209ce835de52595923e40e73c688f1b548c0a/R/AllClasses.R#L19-L20

[2021-02-22 18:18] StefanoBertoUTSW commented on #121
Thanks! Worked! I thought it was a more complicated issue :-)

[2021-02-22 18:20] #121 closed

[2021-02-23 11:40] #112 closed

[2021-02-23 11:47] MikeDMorgan commented on #114
It seems that `devtools::install_github()` doesn't build documentation that is generated with Roxygen (https://github.com/r-lib/devtools/issues/523), and is on-going issue. The solution for now would be to build locally to get the documentation built (with "--no-build-vignettes" for the moment as these are under development/flux).

We'll keep this open until we come up with a reasonable solution.

[2021-02-23 18:01] rchapple2 opened #123 "Invalid object for slot "nhoodCounts" and "nhoodExpression" in class "Milo""
I'm running into an error with the Milo function.  I have a SingleCellExperiment object as follows:

class: SingleCellExperiment
dim: 20134 68253
metadata(0):
assays(2): counts logcounts
rownames(20134): XKR4 SOX17 ... A830031A19RIK HIST1H2BR
rowData names(0):
colnames(68253): 831_AAACCCAAGCAACTCT-1 831_AAACCCAAGTAGGAAG-1 ... 887_TTTGTTGGTGACTAAA-1 887_TTTGTTGTCGGCATCG-1
colData names(12): orig.id

[2021-02-23 18:30] MikeDMorgan commented on #123
Hi @rchapple2 due to an update in an external package (Matrix) we have been forced to update Milo to enforce a minimum version requirement. Please update Milo, either by using `devtools::install_github` or by cloning the master branch repository and building locally (the latter is preferred in order to build the package documentation, though we recommend building with "--no-build-vignettes" for no

[2021-02-23 21:37] rchapple2 commented on #123
Thanks, Mike.  The latter option solved the issue.

[2021-02-24 08:04] #123 closed

[2021-02-24 17:44] #103 closed

[2021-02-24 17:44] #115 closed

[2021-02-24 17:48] emdann commented on #115
Hi @pascaltimshel
We have merged to master the new version of neighbourhood grouping + testing, you can find an example in the `milo_gastrulation` vignette.

wrt your questions

This was happening because the pruning of edges based on overlap and direction of fold-changes was removing _all_ edges outgoing from some neighbourhoods. This will not be an issue with the new implementation.

Feel free t

[2021-02-24 18:23] pascaltimshel commented on #115
Wonderful, you guys & girls are amazing
I look forward to testing it!

[2021-03-03 17:22] MikeDMorgan opened #126 "BiocCheck results"
Warnings and errors to fix before Bioc submission:

- [x] Error: package::object in function() remove `dplyr::ungroup in plotNhoodExpressionGroups()`
- [x] ERROR: Package Source tarball exceeds Bioconductor size requirement.
        Package Size: 1805.7936 MB
        Size Requirement: 5.0000 MB
- [x] WARNING: Update R version dependency from 3.5.0 to 4.0.
- [x] WARNING: The following files are ove

[2021-03-09 14:57] ainarill opened #130 "Add a precomputed KNN graph from Seurat"
Hi, nice tool!!
I was wondering how can I add a precomputed KNN graph from Seurat to Milo by using your buildFromAdjacency() function, as I have seen that it requires a NxN matrix as input.
Thank you so much for your help!

[2021-03-09 15:10] #126 closed

[2021-03-09 16:54] ainarill commented on #130
Thank you so much for your help! This was just what I needed!

[2021-03-09 16:54] #130 closed

[2021-03-10 10:54] ainarill opened #131 "findNhoodMarkers() error"
Hi again!
I was trying to identify signatures of DA subpopulations in my data and when using the findNhoodMarkers() function i get the following error:

dge_smp <- findNhoodMarkers(data_milo, data_res,
                                     assay = "counts", gene.offset = FALSE, da.fdr = 0.1,
                                     aggregate.samples = TRUE, sample_col = "sample",

[2021-03-10 11:40] emdann commented on #131
Hi @ainarill
Thanks for reporting, that is entirely on us. We have recently refactored the downstream analysis functions, so that instead of grouping and testing in one  with `findNhoodMarkers` we know have two separate functions `groupNhoods` and `findNhoodGroupMarkers`. The new workflow is shown in [this vignette](https://github.com/MarioniLab/miloR/blob/master/vignettes/milo_gastrulation.Rmd) (

[2021-03-10 11:40] MikeDMorgan commented on #131
Hi @ainarill We are currently doing a bit of a re-factor that will eventually deprecate`findNhoodMarkers`. Whilst we fix this, for now you can download/build from the `fix_test_groups` branch:
[code]
Note: devtools doesn't seem to build the documentation locally. Therefore, on the command line clone the specific branch and build locally to get the full documentation:
[code]

The relevant function

[2021-03-11 14:10] ainarill commented on #131
I ran `groupNhoods` and `findNhoodGroupMarkers` afterwards and everything is working perfectly, thank you so much!

[2021-03-11 16:12] MikeDMorgan commented on #131
Glad it worked.

[2021-03-11 16:12] #131 closed

[2021-03-12 13:29] zktuong opened #133 "K must be non-null to use k-distance. Please provide a valid integer value"
Hi Milo team,

was wondering why this error started appearing with `miloR_0.99.0` when #110 says that there should be a hidden `.k` slot that's available after building graph?

[code]

Running the following with `k` specified solves it though:
[code]

[code]

[2021-03-12 14:05] MikeDMorgan commented on #133
Hi @zktuong Part of the new updates includes storing `k` for later use as a hidden class slot. The simplest solution is to re-create your Milo object with the updated code (though we should also check for the Milo version to deal with back-compatibility).

On a separate note, please beware that we found a bug in the model normalisation which might change some results. The patch is currently on the

[2021-03-12 16:02] zktuong commented on #133
ah ok this is my bad by running graphSpatialFDR directly. I'll close this issue now.

[2021-03-12 16:02] #133 closed

[2021-03-12 16:04] MikeDMorgan commented on #133
Not at all - Milo is designed to be modular - perhaps we didn't update the documentation to make this clear.

[2021-03-16 11:34] ainarill opened #134 "which cells are in a specific neighborhood?"
Hi! Nice tool!
Just one question, is there any way to know which cells are in the neighborhoods? or in a specific group of neighborhoods?
Thank you so much!

[2021-03-16 12:36] emdann commented on #134
Hi @ainarill

Thanks for your interest. You are looking for the `nhoods` slot of the `Milo` object, that you can access with the getter `nhoods(milo)`. This stores a binary matrix where each row is a cell (i), each column is a neighbourhood (j) and the value of x_{i,j} indicates if the cell belongs to a neighbourhood (1 or 0).

As for the groups, the output to the function `groupNhoods` is a `data

[2021-03-16 12:38] ainarill commented on #134
Perfect, thanks!

[2021-03-16 12:38] #134 closed

[2021-03-16 15:43] ainarill opened #135 "findNhoodGroupMarkers() output"
Hi,
The output of:
`nhood_markers <- findNhoodGroupMarkers(data_milo, data_res, subset.row = hvgs,
                                       aggregate.samples = TRUE, sample_col = "sample")`
is a dataframe with the logFC and the adjusted p-values for the different groups of neighborhoods. The thing is that the rownames of this dataframe (that contain gene ids) and the column of GeneID generated don't

[2021-03-16 18:08] MikeDMorgan commented on #135
Hi @ainarill Thanks for flagging this - the code implicitly assumes that the results are in the same order, so I can only assume that one of the results dataframe is being reordered internally. For now I would stick with the rownames rather than the GeneID. I'll take a look and issue a fix for this.

[2021-03-17 09:28] MikeDMorgan commented on #135
Hi @ainarill I've made a potential fix, which is now merged into the main repository (#136) - could you re-install from the repo and see if that fixes the problem? If not, would you mind sharing the inputs so that we can try to re-create the bug on our side.

[2021-03-17 09:48] ainarill commented on #135
Hi @MikeDMorgan,
Now the output dataframe doesn't have a GeneID column, so the marker names are directly in the rownames, right?
Thank you so much!

[2021-03-17 09:50] MikeDMorgan commented on #135
That's correct, I just want to double check that there are no warnings produced when you run this?

[2021-03-17 09:52] ainarill commented on #135
No warnings! thanks a lot :)

[2021-03-17 09:52] #135 closed

[2021-03-17 12:59] emdann opened #137 "Push up to date vignette to website/html"

[2021-03-17 13:01] emdann opened #138 "Check the reordering of colnames of nhoodCounts and rownames of design matrix"
I thought this was fixed already

[2021-03-17 13:37] MikeDMorgan commented on #138
It should be in #132

[2021-03-17 15:01] #137 closed

[2021-03-22 12:11] MikeDMorgan commented on #56
This feature should now be implicit by passing a meta data frame whose rownames are a subset of the colnames of the `nhoodCounts` slot.

[2021-03-22 12:11] #56 closed

[2021-03-22 12:12] MikeDMorgan commented on #107
Can we consider this issue resolved now?

[2021-03-23 09:22] MartaCasado opened #144 "Error when adding a precomputed KNN graph (buildFromAdjacency)"
Hello! I am trying to add a precomputed KNN graph from Seurat with the buildFromAdjacency function, but I get the following error:

[code]

Thanks!!

[2021-03-23 12:39] zktuong opened #145 "Any advice on 'priority' of adjusting parameters"
Hi team, having lots of fun with this tool.

Can i ask if there's any general advice for the specifying the options for `k` and `proportion`?

For example, if i'm handling a small data set of sat about 2-3k cells, would it be preferable to decrease `k` to a small value first, or decrease `proportion` to a small value first?

Also what about `d`? would you stick to the same `d` you'd use for genera

[2021-03-23 13:29] MikeDMorgan commented on #145
Hi @zktuong
I would recommend a smaller value of `k` indeed, maybe something k~20 or so. With a data set that small you can play around a bit with the parameters too. For the proportion, I'd say ~0.3 is fine, as it should capture most of the representative neighbourhoods pretty well.  W.r.t. `d` - for the sake of ease, stick with the same used for any other analyses. You can always plot the ordere

[2021-03-23 13:36] zktuong commented on #145
Thanks!

[2021-03-23 13:36] #145 closed

[2021-03-23 13:40] MikeDMorgan commented on #144
Hi @MartaCasado Could you post your sessionInfo please, and the size of the input data set, i.e. how many rows and columns are there in `data`?

[2021-03-23 14:06] MikeDMorgan commented on #144
OK, a couple of points. Your call is incorrect, it should be:
`miloR::graph(data_milo) <- buildFromAdjacency(data@graphs$RNA_snn, k=10)`

If you're building a graph with 54,152 cells I would strongly recommend a larger value of `k`, as with the current setup you will likely end up with very small neighbourhoods. We recommend choosing `k` such that k≥Sx5, where S is the number of experimental sampl

[2021-03-23 14:22] MartaCasado commented on #144
Thank you @MikeDMorgan for the suggestion of increasing k. Yes, data_milo is already instantiated.

[2021-03-23 15:05] MikeDMorgan commented on #144
Hi @MartaCasado what is the out put of `type(data@graphs$RNA_snn)`?

[2021-03-23 15:40] MartaCasado commented on #144
[code]

[2021-03-23 17:32] MartaCasado opened #146 "Error in testNhoods() function"
Hi, I am getting the following error when trying to run testNhoods() function:
[code]
Thank you!!

[2021-03-23 17:34] MartaCasado commented on #146
I resolved it with this before the function line:

`data_milo@.k <- 30`

[2021-03-23 17:34] #146 closed

[2021-03-29 22:04] rtoddler commented on #144
Hi all,
Has this problem been solved? I have the same issue so I wonder if there is a solution.
Thanks!

[2021-03-30 07:21] emdann commented on #144
Hi @rtoddler and @MartaCasado
We have not been able to reproduce this error on standard Seurat objects. @rtoddler can you provide a bit more details on the data you are using e.g. dimensions?

[2021-03-31 20:14] rtoddler commented on #144
Hi @emdann
The dimensions of the Seurat object is 22319 x 69062.

Here is the script I ran:
_data <- readRDS("data.rds") #load Seurat Object (processed by SCT, FindNeighbors and FindClusters)
data_sce <- as.SingleCellExperiment(data)
data_milo <- Milo(data_sce)
miloR::graph(data_milo) <- miloR::graph(buildFromAdjacency(data@graphs$SCT_snn, k=40)) #This dataset has 8 samples_

Here is the error I g

[2021-04-01 05:46] emdann commented on #144
Thanks @rtoddler. Is `data@graphs$SCT_snn` binary? (i.e. contains only 0 and 1)

[2021-04-01 15:42] bjstewart1 commented on #108
One work around is to use geosketch to represent the data with a smaller number of cells.
Not ideal, but works.

[2021-04-01 22:39] rtoddler commented on #144
Hi @emdann
I don't think so. In fact, I think it's a S4. Did I miss some steps here?
![SCT_snn](https://user-images.githubusercontent.com/62856645/113361182-fab72b00-9310-11eb-887c-3f936ce6c6af.png)

[2021-04-02 14:40] pabloatria18 opened #149 "Link for Basic Milo example on simulated dataset not working"
Hello
I would tike to try this package but the Basic Milo example on simulated dataset link is not working

Thank you

[2021-04-02 14:43] emdann commented on #149
Hi @pabloatria18, thanks for flagging this! While I fix it you can take a look at the [Mouse Gastrulation vignette](https://rawcdn.githack.com/MarioniLab/miloR/7c7f906b94a73e62e36e095ddb3e3567b414144e/vignettes/milo_gastrulation.html#5_Finding_markers_of_DA_populations) which demonstrates all the `miloR` functionality on a real dataset

[2021-04-02 14:52] emdann commented on #149
Fixed by https://github.com/MarioniLab/miloR/commit/d2e6ca08bd81d340d9c1ac698863a2dfd5afa0e5

[2021-04-02 14:52] #149 closed

[2021-04-05 19:42] Marc-Benoit opened #150 "error in testNhoods sample names in design matrix and nhood counts are not matched"
Thank you for all your hard work on this tool! I have been throwing an error running the testNhoods function. I have 6 samples, 3 replicates are controls and 3 replicates are transgenic (orig.ident = control1, control2, control3, tg1, tg2 and tg3). They are assigned as "control" and "tg" (ident = control, tg)

[code]
![image](https://user-images.githubusercontent.com/78891847/113618286-7375fa00-96

[2021-04-05 20:40] Marc-Benoit commented on #150
As an update: after editing the rownames of nuclei_design to match 'orig.ident', it thows this error:

![image](https://user-images.githubusercontent.com/78891847/113624415-9c01f200-962d-11eb-97ea-1deae4db4337.png)

[2021-04-06 08:05] emdann commented on #150
Hi @Marc-Benoit, thanks for flagging this. Can I just make sure that you are using the latest version of the package, installed with `devtools::install_github("MarioniLab/miloR")`?

[2021-04-06 14:04] Marc-Benoit commented on #150
Hi @emdann thanks for the reply! The version I am using is 0.99.6. I can get it to perform the analysis if I change `design = ~ orig.ident`  to `design = ~ ident`however I am unsure of how the dataframe relays the information of each cell. After performing `nuclei_design <- distinct(nuclei_design)` I lose the barcode information for each cell. I am very new to R and this type of analysis so I may

[2021-04-11 17:43] tomthomas3000 opened #151 "Query - input data/batch correction/DGE downstream functions"
Thank you miloR team for a great package! It has been super helpful especially when studying pertubations in-vivo!

I wanted to confirm a few things about use of milo_gastrulation vignette and the package if thats alright:

1) Just to double-check, should the input count matrix should be raw gene expression data (i.e. not normalised/not log/transformed or scaled etc.)? Particularly as downstream a

[2021-04-19 08:55] MikeDMorgan commented on #151
Hi @tomthomas3000 thanks for your interest in Milo.

To answer your questions:

The vignette using the `MouseGastrulationData` package is purely for illustrative purposes. In reality the input step for Milo is the kNN graph. Choices up until that point are entirely down to the user. Regarding gene expression normalisation (as you note), this is purely for the purposes of visualisation DGE testing.

[2021-04-23 14:59] miligeo18 opened #152 "Problem with visualizing the distribution of DA Fold Changes in different cell types"
Hello!

I've been using Milo to analyze the relative changes in cell type proportions in different tissue samples between different time points post-infection. I am starting with various subsets of the same Seurat object, depending on which sample I am looking at and which time points I am comparing.  I followed the "Differential abundance testing with Milo - Mouse gastrulation example" tutorial,

[2021-04-23 15:02] MikeDMorgan commented on #152
Hi @miligeo18, thanks for your interest in Milo. This error is unrelated to the graph building, and relates entirely to the plotting function. Can you post the output of your `sessionInfo()` and check whether the input to ploDAbeeswarm contains any NA values? Ta

[2021-04-23 17:58] miligeo18 commented on #152
Hi @MikeDMorgan , here is my sessionInfo():

`sessionInfo()
R version 4.0.4 (2021-02-15)
Platform: x86_64-apple-darwin17.0 (64-bit)
Running under: macOS Big Sur 10.16

Matrix products: default
LAPACK: /Library/Frameworks/R.framework/Versions/4.0/Resources/lib/libRlapack.dylib

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/en_US.UTF-8

attached base packages:
[1] parallel  stats4

[2021-04-23 17:58] miligeo18 commented on #152
and it appears that my input to plotDAbeeswarm() does not contain any NA values

[2021-04-26 08:22] MikeDMorgan commented on #152
Thanks @miligeo18 can you check the `type` of the the `logFC` in the results data frame being passed to plotDAbeeswarm please? The error message comes from ggplot, and expects a numeric variable, but the error suggests that it is receiving the wrong data type.

[2021-04-27 14:55] #138 closed

[2021-04-27 14:58] MikeDMorgan commented on #150
Hi @Marc-Benoit The `distinct()` function just creates a new data frame that contains only the set of rows with unique elements across the columns, hence it no longer provides single-cell information. The purpose of `design.df` argument is to portray the sample-level meta data that is used to perform DA testing. Hence, the rows should correspond to the different samples, and the columns should be

[2021-04-27 15:07] Marc-Benoit commented on #150
Hi @MikeDMorgan thank you! I understand now and have worked through to a solution. Appreciate all your help.

[2021-04-27 15:07] #150 closed

[2021-04-29 08:55] MikeDMorgan commented on #144
Hi @rtoddler Sorry for the delay in responding here. The input to `buildFromAdjacency` should be a matrix, I'm not sure what the `Seurat::Graph` class is. Could you try converting it with `miloR::graph(data_milo) <- miloR::graph(buildFromAdjacency(as(data@graphs$SCT_snn, "dgCMatrix"), k=40))` perhaps?

[2021-04-29 08:56] MikeDMorgan commented on #114
Hi @pascaltimshel the man pages are now on the GitHub repo, so should appear with all installs using `devtools::install_github()`.

[2021-04-29 08:56] #114 closed

[2021-04-29 08:57] #91 closed

[2021-04-29 08:57] MikeDMorgan commented on #55
@emdann Did you implement this?

[2021-04-29 08:58] #69 closed

[2021-04-29 08:59] #82 closed

[2021-04-30 19:56] rtoddler commented on #144
Hi @MikeDMorgan It works!! Thank you so much. I really appreciate your help! I encounter another problem in the downstream however. I will open a new issue about it.

[2021-05-04 08:16] MikeDMorgan commented on #144
Fab - glad that resolves the problem.

[2021-05-04 08:16] #144 closed

[2021-05-07 08:59] #107 closed

[2021-05-07 17:41] miligeo18 commented on #152
Hello, thank you for your response! It seems that the issue might be that my SpatialFDR values are 1 across all rows in my da_results table... not sure if this would be the cause of the "discrete value applied to a continuous scale" error but I can't think of another explanation, since the variable `type` is numeric

[2021-05-11 10:24] MikeDMorgan commented on #152
Hi @miligeo18 <- that makes sense if ggplot2 is trying to internally cast it to a character when there is no variation. You could test this by randomly setting some of the SpatialFDR values to non-zero.

[2021-05-19 20:56] MikhaelManurung opened #157 "Importing Seurat's WNN"
Dear authors,

Thank you for writing this package; I really enjoyed it.

Currently, I am trying to import Seurat's WNN results into Milo. I could import the pre-computed graph, however, I am unable to figure out the `makeNhoods()` step. IIUC, the function refines the neighborhoods in reduced dimensional space. As I can only pick one reduced dimension--either PCA on RNA or ADT--this becomes a bottl

[2021-05-20 07:34] emdann commented on #157
Hi @MikhaelManurung
Thank you for your interest in Milo! Have you tried adding the graph to the Milo object using the `buildFromAdjacency` function? This is an example with one of Seurat's toy datasets:
[code]

[2021-05-20 08:28] MikhaelManurung commented on #157
Hi @emdann,

Thanks for your fast response. Actually, those are the steps that I have managed to do so far. I am stuck at the `makeNhoods()` step since I don't know which reduced dim that I should use.

Regards,
Mikhael

[2021-05-20 08:46] emdann commented on #157
Oh I misunderstood the query, apologies for that.

This is an interesting question for application to multi-modal datasets. We recognise that the algorithm we use for search of the neighbourhood indices limits it's application to "graph-based" integration methods such as WNN. In practice, it might be that using only one of the two modalities works just fine to exclude outliers, especially if you s

[2021-05-20 16:59] MikhaelManurung commented on #157
Hi Emma,

Thanks for the suggestions. I will try out these options and get back to you.

Regards,
Mikhael

[2021-05-20 21:08] YubinXie opened #158 "Work with multiple groups"
Hi MILO team,

Thanks for the great works. I am currently working with data with multiple groups, and I want to test abundance in my dataset with n=7 groups. I tried MILO and the code works. But I looked into the code and it seems it is only comparing my last group to the first group. Is this possible for MILO to support multiple group abundance test and visualization? In a context like one vs the

[2021-05-21 07:43] MikeDMorgan commented on #158
Hi @YubinXie The way that the actual differential abundance testing is performed depends on the experimental variable being used. For instance, if your variable is numeric and encoded 1, 2, 3, ... then R will naturally see this as a continuous quantitative variable and treat it as such in the GLM. Consequently the comparison will then be the average _across_ groups, assuming a uniform difference b

[2021-05-27 14:19] #151 closed

[2021-05-27 14:19] #152 closed

[2021-05-27 22:35] lindsaynhayes opened #159 "Install miloR"
_Note: this maybe a HPC problem, not a Milo problem._
I'm excited to try this new tool. I have ~150K cells from 4 groups that I want to look at differential abundance across clusters.
I am working on a HPC and first tried to install through `conda env update` with Bioconda and .yaml (took a shot in case it worked as this is my primary package manager.
[code]
but it didn't work `ResolvePackageNotFo

[2021-05-28 08:09] MikeDMorgan commented on #159
Hi @lindsaynhayes, thanks for your interest in Milo.

Firstly, the stable install via Bioconductor is through release 3.13, which requires R 4.1.  You can install the devel version of miloR using devtools::install_github("MarioniLab/miloR", ref="devel") which only requires R 4.0.1.

[2021-05-28 14:07] lindsaynhayes commented on #159
Thanks @MikeDMorgan! Worked. I was reading the `Depends:  R(>4.0.0), edgeR` in the Details section and didn't realize it needed the R/4.1.  I see now that it says R 4.1 in the upper section on bioconductor. Thanks for this!

[2021-06-04 17:04] rtoddler opened #160 "Evaluate proper neighborhood size"
Hi,

In your mouse gastrulation tutorial, you suggest to evaluate if k defined by user is appropriate by plotNhoodSizeHist function.
My question is, what is the appropriate range (or distribution) of the neighborhood size saying I have 8 samples and a total of 21k cells?

Thanks!

[2021-06-07 08:09] MikeDMorgan commented on #160
Hi @rtoddler Thanks for your question. Generally speaking we would recommend having a mean number of cells per neighbourhood at ~5 X samples, so in you case 40 cells per neighbourhood should give reasonable results. We generally find that between 30-60 cells per neighbourhood with 3-4 replicates per condition gives good results (this will be included in the manuscript when it is finished with peer

[2021-06-07 14:07] Martin-Fahrenberger opened #161 "Small typo in the Readme"
Hi miloR Team,

Thanks for your work on milo, looks promising!

I just quickly wanted to point out a typo in the Readme file.
In the example workflow you call "milo.obj <- calcNhoodDistances(milo.obj, d=30)"
But as far as I can tell "calcNhoodDistances" should be "calcNhoodDistance".

Just wanted to make sure no one gets confused trying the example :)

[2021-06-08 16:46] MikeDMorgan commented on #161
Thanks for the catch!

[2021-06-21 14:10] lindsaynhayes commented on #160
In the vignette you mention "We will later use some heuristics to evaluate whether the value of k
 should be increased." Is this available yet? I'm curious how I can evaluate the chosen k value (and prop). I was wanting advice on how to optimize the total number of neighborhoods (`nrows(da_results)`) and the size of the neighborhoods (Nhood size). Similar to how the d can be optimized by an elbowP

[2021-06-21 14:34] MikeDMorgan commented on #160
Hi @lindsaynhayes Thanks for your question and pointing out the omission in the vignette - we'll fix this on the next release. For now, a nhood size ~90 should give a reasonable balance between power and resolution. It's also probably worth keeping nhood size ~50 as a lower bound with this number of samples, such that you have at least 3-5 counts per nhood and sample.

I hope that makes sense?

[2021-06-21 14:59] lindsaynhayes commented on #160
Thanks!

[2021-07-07 19:58] lindsaynhayes opened #162 "hilled p-value histogram"
I have 120K cells from 18 samples across 4 groups. I processed this with Seurat using sctransform normalization and reciprocal PCA integration. For the Milo analysis I converted to a SCE and copied the PCA and UMAP over so the neighborhoods were in the already defined seurat_clusters. I wrote out my contrasts according to issue #101 (awesome thread). I have 0-few DA neighborhoods so I started digg

[2021-07-12 13:36] MikeDMorgan commented on #162
Hi @lindsaynhayes Intuitively I would say this indicates that the test is overly conservative. Can I also ask what the MAplot looks like, i.e. are the log fold change values 0-centred, and does it look like there is any censoring of log fold-changes, or does it look overly compressed in the y-axis?

If you subset your analysis to just the samples from the "CON" and "EXP" levels of `group`, do you

[2021-07-16 18:54] KASHISH72 opened #163 "Extract the matrix of cells and their neighbourhoods"
Hi,
Great tool
Can you suggest a way i can extract a matrix for the cells and their neighborhoods from the milo.
It would be really helpful for me to get the matrix.
And One more thing when I am using the function nhoods(traj_milo), why does the column header represent in that.

[2021-07-19 11:00] MikeDMorgan commented on #163
Hi @KASHISH72 The `nhoods` function returns the cell X neighbourhood indicator matrix, therefore the rows are the indices of the cells in your data, and the columns are the neighbourhood that they are assigned to.

[2021-07-20 17:55] KASHISH72 commented on #163
Thanks,
Can you tell me, What does the column header number means ?
And can we also extract where does the neighborhoods are present as their coordinates?

[2021-07-21 08:16] MikeDMorgan commented on #163
Hi @KASHISH72 As I stated above, the columns correspond to the neighbourhoods (these are just numbered). The neighbourhoods are defined by the index cell, which can be retrieved using the `nhoodIndices()` function.

I would also strongly recommend working through the package vignettes and documentation, as all of the answers to your questions can be found there.

[2021-07-21 10:23] MikeDMorgan commented on #157
Hi @MikhaelManurung Did Emma's solution resolve your problem? I'll close this issue for now, but please re-open if there is more trouble-shooting required.

[2021-07-21 10:24] #160 closed

[2021-07-21 10:24] #161 closed

[2021-08-08 10:10] WonderfulJob opened #165 "Error in testNhoods"
Hi miloR Team,
I wander konw Why i can't perform function testNhoods( )  and how to set **samples** and **condition** when create a miloR object from Seurat object.
Even when i used example dataset, there's still the same error here:
![image](https://user-images.githubusercontent.com/48800451/128628330-c38b576e-f0d4-4e1a-8119-4565f2b11b8d.png)
Looking for your answer!
: (

[2021-08-08 17:01] emdann commented on #165
Hello,
This error appears if `rownames(milo.design) != colnames(nhoodCounts(milo.obj))`. Could you check if you get the same if you set `rownames(milo.design) <- milo.design[,"Sample"]`?
And just to be sure, are you using the latest version of the package installed by `BiocManager::install("miloR")`?

[2021-08-12 09:16] WonderfulJob commented on #165
I set **rownames(milo.design) <- milo.design[,"Sample"] but it didn't  work !**
![image](https://user-images.githubusercontent.com/48800451/129169284-062bf7c8-58ad-4c99-aef6-e70e2692953c.png)

I realized it may because of the wrong order, so I set **milo.design <- milo.design[colnames(nhoodCounts(milo.obj)),]** and it work!
![image](https://user-images.githubusercontent.com/48800451/129170978-8055

[2021-08-12 09:22] emdann commented on #165
Good to hear this was solved! Just FYI if the ordering is different `testNhoods` just throws a warning message and reorders internally, so it should still run the test properly (https://github.com/MarioniLab/miloR/blob/8fc49974f2221fe80628973427d60400756fed37/R/testNhoods.R#L177-L179).

Closing this now, feel free to reopen if issues persist.

[2021-08-12 09:22] #165 closed

[2021-08-16 14:54] KASHISH72 commented on #163
Hello Mike,

Thanks for your suggestion, it worked. I have one more question regarding the number of neighborhoods. Can you tell me the way I can reduce the number of neighborhoods ? For now i have around 300 neighborhoods and I would like to have less around 40-50 groupings of the neighborhoods. Which options would be good to reduce the number of nhoods?

[2021-08-17 15:19] MikeDMorgan commented on #163
Hi @KASHISH72 For the purposes of DA testing, we would recommend you have a minimum neighbourhood size of 5xS, where S is the total number of biological samples. To achieve this you can inspect the histogram of plot sizes, which can be visualized using the `plotNhoodSizeHist()` function. To increase the neighbourhood size you can increase `k` in `buildGraph` and `makeNhoods` (note these should be

[2021-08-22 23:33] diegoalexespi commented on #157
Hi all,

Not sure if this is the appropriate place to follow-up on this, but in addition to `makeNhoods()`, does `calcNhoodDistance()` require a reduced dimension space as well? So even setting `makeNhoods(refined=FALSE)` (or attempting an alternative neighborhood refinement strategy that doesn't rely on reduced dimension values), the `calcNhoodDistance()` step would still be a bottleneck?

[2021-08-23 08:11] emdann commented on #157
Hi @diegoalexespi,
That is correct, `calcNhoodDistance()` uses the reduced dimension space to calculate distance between the k-th nearest neighbor to the nhood index cell. However, in some initial implementation of Milo we tested using other graph-based connectivity metrics for the weighted FDR procedure, which you could store in the `nhoodDistance()` slot to circumvent the use of `calcNhoodDistan

[2021-08-23 09:03] MikeDMorgan commented on #157
Hi @diegoalexespi In terms of time-complexity using either edge- or vertex-weighting was still much, much slower than computing the k-th neighbour distance. At the moment we don't have any graph-distance weighting implemented (these were removed a while ago), but it is something on our development roadmap for Milo.

[2021-08-23 13:58] diegoalexespi commented on #157
Thanks @emdann and @MikeDMorgan for the prompt and informative responses! I appreciate it. I'll keep an eye out on development, and I'll do some digging into graph connectivity measures in the meantime as well.

[2021-09-02 17:42] diegoalexespi commented on #157
Hi! So I was intrigued with the question of utilizing this method for graphs not directly derived from a single distance matrix, such as Seurat's WNN and BBKNN. More specifically, for `makeNhoods`, I wanted to devise a graph-refinement scheme that depended solely on the kNN graph and NOT any distance metric or measure.

As a possible solution, I chose to refine the random vertex selection in `make

[2021-09-03 06:39] emdann commented on #157
Hi @diegoalexespi

Wow, thank you for contributing this great work, it looks really promising! This has definitely been a frequently requested feature, so I think it would be a useful addition to the package. I have a few comments, that I am happy to look into myself if you start a pull request:

1. Testing on a dataset where a latent space is available, I would try to assess that the two refineme

[2021-09-03 16:38] diegoalexespi commented on #157
Thanks @emdann !

I'll do some organizing of my code before implementing a pull request (I have to prune a bunch of my commented out code and my `print("testing")` statements...), but I'll try to do that sooner than later. In the meantime, for some of the comments:

1. I agree that determining the amount of overlap between the two refinement schemes is important. Is the goal to get "good" overlap

[2021-09-08 10:42] MikeDMorgan commented on #157
Re-opening this so we can keep tabs on things.

[2021-09-09 08:01] MikeDMorgan commented on #163
Closing for now - please re-open if you issue has not been resolved.

[2021-09-09 08:01] #163 closed

[2021-09-09 08:02] MikeDMorgan commented on #162
Hi @lindsaynhayes Did you resolving the p-value hilling issue? I have personally seen this as well where a confounding variable was not accounted for in the model. Including the confounder resolved the issue for me.

[2021-09-09 16:35] alikhuseynov commented on #81
Hi there, could we clarify that miloR results on `logFC` are natural log values or base 2?
As we know, by default R is using a natural log but in `edgeR` it seems to be `log2`
have a look at these threads:
https://www.biostars.org/p/303806/
https://stat.ethz.ch/pipermail/bioconductor/2013-January/050311.html
thanks!

[2021-09-09 20:30] lindsaynhayes commented on #162
Yes, I had a cluster of cells that had higher mitochondrial reads and lower counts. When I filtered out these cells the p-value distribution looked more even or left tailed as expected.

[2021-09-09 21:49] andrewjkwok opened #167 "buildFromAdjacency crashes rstudio"
Hi,

I've been attempting to use this package for some differential abundance analysis, and have managed to get it working when following the vignettes. However, when I try to use a pre-computed graph from Seurat to then `buildFromAdjacency`, my rstudio (server) keeps crashing, even when I request a huge amount of memory.

Is this a known problem / are there any solutions to this?

Many thanks in

[2021-09-10 07:57] MikeDMorgan commented on #81
I can confirm they are log2-fold changes as it uses the same output as edgeR

[2021-09-10 07:59] #162 closed

[2021-09-10 08:00] MikeDMorgan commented on #167
Hi @andrewjkwok. You might need to be a bit more specific. For example, do you see a huge memory consumption on your machine? Is this run on a cluster, or on your local laptop/desktop? How many cells are there in your data set?

[2021-09-10 14:10] andrewjkwok commented on #167
Hi @MikeDMorgan, thanks and sorry for not being more specific.

I just managed to figure out how to track the memory usage on the machine and it's exceeding my limit of 150GB so it might be that. The dataset consists of 90k cells, and I'm running it on a cluster.

I'll go back and try to request more memory, but as I'm expecting this dataset to grow by 3x the size, even if I manage to get things t

[2021-09-10 14:15] MikeDMorgan commented on #167
Hi @andrewjkwok It does seem a little strange that the Seurat NN graph takes up that much memory. Can you check what the memory footprint of just the graph object is? This kind of memory-blow up can happen if there is casting from a sparse-to-dense matrix format.

[2021-09-10 14:29] andrewjkwok commented on #167
Hmm I see - the graph object is:

`> seurat@graphs$RNA_snn %>% object.size()
49889848 bytes`

Will retry now with more memory.

[2021-09-10 14:32] MikeDMorgan commented on #167
Well, that's only ~48MB, so it seems strange that the in-memory size of the object would be a problem. Can you post the full traceback when the job fails?

[2021-09-10 14:39] andrewjkwok commented on #167
When the crash happens, rstudio server just crashes and needs to be restarted, but the job itself isn't killed (I stay logged into an interactive node on my cluster).

In fact, I just tried things on a fresh node and this is the usage of the job even after the crash:
`usage                 1:    wallclock=00:01:58, cpu=00:00:40, mem=427.99378 GBs, io=31.94270 GB, iow=0.000 s, ioops=1176277, vmem=2

[2021-09-10 14:43] MikeDMorgan commented on #167
Can you execute the job successfully as a standalone R script? If this is an issue with Rstudio it could be very hard to diagnose.

[2021-09-10 14:51] andrewjkwok commented on #167
Just tried submitting as a job but still no go. This is the error that I get:

[code]

I see a segmentation fault in there but as we established it doesn't seem to be a memory issue either so I'm a bit confused...?

[2021-09-10 15:13] MikeDMorgan commented on #167
It is a memory issue that is causing the segfault - there is a single step where we convert the adjacency matrix to a sparse binary format. But I can see in the code that this goes through an intermediate dense matrix class.

Could you test this out by first re-installing with the following:
[code]

Then try to re-run your code.

[2021-09-10 15:21] andrewjkwok commented on #167
Success!! Thank you so much. Would you advise that I keep using this version or to update it later when it's eventually merged?

[2021-09-10 15:32] MikeDMorgan commented on #167
I finish this patch and push it to our devel branch. I would recommend using the devel installation for now (once I've merged this patch of course). This will then propagate through to the next stable Bioconductor release (TBC).

[2021-09-10 15:45] andrewjkwok commented on #167
Thanks, that makes sense.

Very sorry but it seems like I'm still running into issues. After building the graph with my custom Seurat graph with
`miloR::graph(sce_milo) <- miloR::graph(buildFromAdjacency(seurat@graphs$RNA_snn, k=20, is.binary = FALSE))`

I proceed to make neighbourhoods:
`sce_milo <- makeNhoods(sce_milo, prop = 0.05, k = 20, d=20, refined = TRUE, reduced_dims = "TOTALVI")`

But re

[2021-09-10 15:58] MikeDMorgan commented on #167
Can you post the full traceback as-is?

[2021-09-10 16:02] andrewjkwok commented on #167
This is what I get from `traceback()`:

[code]

[2021-09-10 16:09] MikeDMorgan commented on #167
Could you provide a small version of this data set so I can try to debug this? It looks like there is an issue with the vertex attributes in the graph, but it's not 100% clear.

[2021-09-10 16:41] andrewjkwok commented on #167
Happy to. I'd like to DM a google drink link but can't quite find an email?

[2021-09-10 16:50] MikeDMorgan commented on #167
I'm contactable on michael [dot] morgan [@] cruk [dot] cam [dot] ac [uk].

[2021-09-10 19:46] mikyungjang commented on #150
hello, I installed miloR ver 1.0.0 yesterday (9/9/21) as
`BiocManager::install("miloR")`
in Rstudio v1.4.1717 for Windows10. Bioconductor version 3.13 (BiocManager 1.30.16), R 4.1.0 (2021-05-18)
I followed the tutorial 1 today https://rawcdn.githack.com/MarioniLab/miloR/3646391023f600bae00efd9d940b888503d7a536/docs/articles/milo_demo.html
and got the same error as this issue subject at testNhoods(

[2021-09-13 09:10] MikeDMorgan commented on #167
Hi @andrewjkwok

[2021-09-13 22:57] andrewjkwok commented on #167
Thanks @MikeDMorgan - the `makeNhoods ` issue seems to have been resolved but I'm coming across other issues later on in the code when doing `testNhoods` where I get an error:

[code]

I'm just going to test things out as a job to see and will get back to you tomorrow with tracebacks etc. / how far I manage.

[2021-09-14 07:39] MikeDMorgan commented on #167
Hi @andrewjkwok The `graphSpatialFDR` requires a value `k` to be passed, which internally is stored in the `@.k` slot, for now you can set this yourself using:

```milo.obj@.k <- <some value for k>```

I'll make sure this is set internally when using the `buildFromAdjacency` function.

[2021-09-14 15:32] andrewjkwok commented on #167
Thanks @MikeDMorgan - setting the k for the milo object makes it all work very smoothly now. I think it's now fine so I'll close the issue but it would be great to. get the update for when the k value is set automatically! Thanks

[2021-09-14 15:41] MikeDMorgan commented on #167
Hi @MikeDMorgan The automatic setting of `@.k` should now be available using `devtools::install_github("MarioiniLab/miloR", ref="binary_fix")`

[2021-09-15 08:30] emdann commented on #157
Hi @diegoalexespi

1. I would check that the indices picked with the two refinement schemes are close in terms of geodesic distance on the graph. Also the Jaccard overlap would be useful, but it's not that crucial that the indices are exactly the same (esp in large datasets) In addition, I would also check that refining reduces the number of indices in the same "high density" regions of the graph.

[2021-09-15 10:56] andrewjkwok commented on #167
Thanks. I reinstalled with the `binary_fix` branch, but the `makeNhoods` step is now throwing up the same error as previously:

`Checking valid object
Error in replCmat4(x, i1 = if (iMi) 0:(di[1] - 1L) else .ind.prep2(i,  :
  too many replacement values`

This is the traceback:
[code]

[2021-09-16 15:17] mikyungjang commented on #150
I also had same error when followed 'Example work flow' at the main page.
Assigning rowname before testNhoods() sorted the problem;
`rownames(traj_design)=traj_design[,"Sample"]`

I wonder whether there was problem loading data on my side. I literally copy and pasted tutorial code.

[2021-09-17 07:21] MikeDMorgan commented on #150
Hi Both - the issue is a missing line in the vignette which will be updated in the next Bioconductor release. The error message tells you where the error is, i.e. that the rownames of `traj_design` don't match the sample names of `nhoodCounts(traj_milo)`. This is trivially fixed by setting `rownames(traj_design) <- traj_design$<name of sample column>`

[2021-09-17 07:23] MikeDMorgan commented on #167
Hi @andrewjkwok do you have cell IDs that are duplicated in your data? This error suggests that there are multiple cells with the same ID - these should be unique.

[2021-09-17 09:20] andrewjkwok commented on #167
Hi @MikeDMorgan, thanks for the suggestion.

I've double checked and all the cell IDs are definitely unique. In addition, I'm finding that `@.k` still isn't automatically set which isn't the biggest problem but just in case this was useful. I tried reinstalling and am sure I have the latest version (I get `Skipping install of 'miloR' from a github remote, the SHA1 (32ad4b9f) has not changed since

[2021-09-22 08:17] andrewjkwok commented on #167
Hi @MikeDMorgan - the issue of `Checking valid object Error in replCmat4(x, i1 = if (iMi) 0:(di[1] - 1L) else .ind.prep2(i, : too many replacement values` when trying to run `makeNhoods` (as in #107) is coming back on and off - and even when I can somehow get past it when running as a job, there's still the persistent problem of the `NAs` for the spatialFDRs from using my custom adjacency matrix.

[2021-09-22 08:28] MikeDMorgan commented on #167
Hi @andrewjkwok Yes, please this seems to be an entirely separate problem where the nh_mat doesn't contain the relevant cells. I'll need to investigate.

[2021-09-22 08:28] #167 closed

[2021-09-22 09:07] andrewjkwok opened #172 "Errors when using custom adjacency matrix for makeNhoods or DA testing"
Hi,

Following up from #167, I manage to successfully build a graph for my Milo object using a custom adjacency matrix. However, I continue to run into a couple of problems downstream.

First, when running from Rstudio server, there is an error  `Error in replCmat4(x, i1 = if (iMi) 0:(di[1] - 1L) else .ind.prep2(i, : too many replacement values` when trying to run makeNhoods as in #107 (when runni

[2021-09-22 11:57] MikeDMorgan commented on #172
Hi @andrewjkwok Could you also provide the exact code that generates the error, including the steps involving graph building. The error suggests that none of the IDs that are neighbours of the index cell are in the nh_mat. Could you also check that the rownames of the reduced dimension are set with `rownames(reducedDim(sce_milo, "TOTAVI")` and the cell IDs are in the `colnames(sce_milo)`.

[2021-09-22 12:39] andrewjkwok commented on #172
Hi - thanks for the quick reply. This is the exact code that generates the error:

[code]

At this point in Rstudio server I get the error `Error in replCmat4(x, i1 = if (iMi) 0:(di[1] - 1L) else .ind.prep2(i, : too many replacement values`.

In terms of the rownames of the reduced dimension, they are all the cellIDs:
`> all.equal(rownames(reducedDim(sce_milo, "TOTALVI")), colnames(sce_milo))
[1]

[2021-09-22 14:12] MikeDMorgan commented on #172
Can you double-check that you have consistent versions between the Rstudio server and the R script job, i.e. the same versions of _all_ packages, and that you are using the same miloR install for both.

[2021-09-22 15:01] andrewjkwok commented on #172
Hi @MikeDMorgan - I've checked and the only difference I can find between Rstudio server and the R script job is the locale:

For rstudioserver:
[code]
And for the script job:
[code]

However, one thing I did notice was that my version of miloR in both was `miloR_0.99.19 ` and not 1.x, which is possibly to do with the fact that I'm using R4.0 rather than 4.1? I'm not sure if this is relevant as my

[2021-09-22 15:18] MikeDMorgan commented on #172
Hi @andrewjkwok This isn't an issue with miloR versions between R 4.0 and 4.1, the current version of miloR is 0.99.19.

Did you run devtools::install_github inside an Rstudio session, or is this run in a separate R session? Are both your Rstudio server and R install pointing to the same package install location? Are you running this in an entirely new Rstudio server session? This currently looks

[2021-09-22 22:56] diegoalexespi commented on #157
Added some comparisons in the pull request #166, but question about the following:

Is there a specific way that you are evaluating whether the neighborhood overlap (or other measure) compares "well" to the k-th distance for SpatialFDR? I'd like to try evaluating some measures as well, but unsure how to decide whether a measure is a good replacement for the k-th distance at the moment. Thanks!

[2021-09-23 07:59] andrewjkwok commented on #172
I ran this in a separate R session as the Rstudio server sessions are on an interactive node with no internet connection. Both my Rstudio server and R install point to the same package install location.

Running as a job does seem to be fine so as long as the NAs in spatial FDRs is resolved I suppose it should be ok!

[2021-09-23 08:20] MikeDMorgan commented on #172
That is a conundrum - unfortunately without access to an identical Rstudio server it is impossible to debug. In the meantime, the latest update to the devel branch should fix the NAs issue, so please go ahead and install with `devtools::install_github("MarioniLab/miloR", ref="devel").

Thanks.

[2021-09-23 17:27] andrewjkwok commented on #172
Thanks @MikeDMorgan - I just installed the latest version with `devtools::install_github("MarioniLab/miloR", ref="devel")` but am still getting the NAs for some reason it seems?

[2021-09-24 11:08] MikeDMorgan commented on #172
Hi @andrewjkwok Could you report the output of the following blocks of code please?

[code]

[2021-09-24 14:19] andrewjkwok commented on #172
Hi @MikeDMorgan. The results are:

[code]

For the 4 commands, sequentially,:

[code]
gives all NAs.

[code]
gives all numbers.

[code]
Also gives all numbers.

And finally,
[code]
gives all NAs again.

[2021-09-24 15:29] MikeDMorgan commented on #172
If you read the documentation for `buidlFromAdjacency` it returns a Milo object, which is where `.k` is set, so in your code above you only extract the graph directly from this new Milo object and assign it to a different Milo object. There is no reason for `.k` to be set on your original Milo object, and thus it is unrelated to this issue.

Could you share a minimally reproducible dataset so that

[2021-09-25 13:07] andrewjkwok commented on #172
My mistake regarding `.k` - thank you for the pointer. I've shared a minimally reproducible dataset by email.

[2021-09-27 10:21] MikeDMorgan commented on #172
Hi @andrewjkwok I have diagonsed the issue - if you inspect the cell x nhood matrix `nhoods()` you will see that some of the nhoods contain < k cells, e.g. `sum(colSums(nhood(sce_milo)) < 20)`. This suggests an issue in the graph that is used as input, as a neighbourhood by definition should have a minimum of `k` nodes.

This can be corroborated by also inspecting the input graph from Seurat:
[cod

[2021-09-29 13:51] andrewjkwok commented on #172
Hi @MikeDMorgan - thank you very much for the diagnosis. My first thought would be that it might be because the Seurat graph prunes the nearest neighbours hence fewer than `k` neighbours, but as you say that will require me to go back to the Seurat developers.

Thanks for the information!

[2021-09-29 13:51] #172 closed

[2021-10-06 00:56] KongMingxi opened #179 "Errors when running milo_in_python.ipynb"
Hi authors,

Many thanks for your excellent work and contributions! When I ran the example in the milo_in_python.ipynb, I got this error:

  invalid class "dgCMatrix" object: 1: invalid object for slot "i" in class "dgCMatrix": got class "array", should be or extend class "integer"
invalid class "dgCMatrix" object: 2: invalid object for slot "p" in class "dgCMatrix": got class "array", should be o

[2021-10-08 14:09] mihem opened #180 "How to interpret differential abundance with positive and negative log fold change within one cluster?"
Thanks for this great package, this approach is extremely helpful I think.

In one dataset I struggle with the interpretation of the data

![image](https://user-images.githubusercontent.com/46907494/136570586-db84fbd9-adc8-4be2-aab5-0e086f49bf8e.png)

So how do you interpret the CD8TEM cluster? There seems to be ~50% of that clusters enriched in one condition and ~50% enriched in the other conditi

[2021-10-10 13:13] emdann commented on #180
Hi Mischko, Thank you for your interest in using our package!

It's not uncommon to see subsets of neighbourhoods with both directions of DA fold-change within the same cluster. The interpretation would be that within the same cell population there are distinct subpopulations associated with condition and control.

What I find a bit odd in the plot you shared is that you have very little neighbour

[2021-10-10 13:27] emdann commented on #179
I'm having a hard time reproducing this error. Could you share the output of
[code]
and
[code]
?

[2021-10-10 14:18] emdann commented on #180
Hi Mischko, based on that UMAP embedding I find it slightly odd that there is such a pronounced difference between condition 1 and 2 in the CD8TEM population. How many replicates for each condition do you have? Have you tried running the test including the batch covariate as confounder in the model, to make sure that's not driving that large difference? You can do that by adding the batch identity

[2021-10-18 03:52] aosakwe opened #181 "plotDAbeeswarm Error: discrete value supplied to continuous scale"
Hello Authors,

I have been using MiloR on an RCC dataset using the workflow posted at: https://bioconductor.org/packages/release/bioc/vignettes/miloR/inst/doc/milo_gastrulation.html

I have been able to use the suggested approach with no errors until the plotDAbeeswarm method which fails with the following error: discrete value supplied to continuous scale

I tried some solutions to the error fro

[2021-10-26 10:20] JackFrew opened #182 "Issue with testing nHoods"
Hi Authors,

Thank you for creating this program. I have been using the workflow, starting with converting a Seurat object to a MiloR object, constructing a KNN graph etc.

I seem to be having an issue with the nhoodCounts matrix. When I view the nhoodCounts (head(nhoodCounts(myeloid.biorra1_milo))), there does not seem to be row or column names, which results in an empty data frame when I reorder

[2021-10-26 21:28] KongMingxi opened #183 "Some cell types are missing in the beeswarm plot"
Hi Authors,

Thank you for this package. I tried to use the buildGraph() function and the makeNhoods() function to generate beeswarm plots.

But when I used the plotDAbeeswarm() function to visualize DA Fold Changes in my cell types, sometimes some cell types are missing in the beeswarm plot.

It seems that it usually occurs in the cell types that have a small number of cells. I guess it is caused

[2021-10-29 04:23] Chengwei94 opened #184 "Number of replicates needed for miloR"
First of all, thanks for the work on miloR, i find it to be a great package. I have seen on another post that 3 replicates work well for miloR. However, I am in the spot of having only one replicate per time/condition. I have ran my analysis with ~ time + type with the samples below, and it managed to ran succesfully. However, I am not sure on how statistically valid is my analysis since that I ha

[2021-11-01 11:15] MikeDMorgan commented on #157
Closing for now as the discussion has moved to the PR #166

[2021-11-01 11:15] #157 closed

[2021-11-04 08:53] #183 closed

[2021-11-07 17:09] mihem commented on #180
Sorry, any further help on that @emdann @MikeDMorgan  ?
Thank you!

[2021-11-07 17:29] emdann commented on #180
thanks for the ping @mihem, I had missed the reply.

If the "sample" in the table above is the covariate you use for batch correction with Harmony then yes, there is a systematic bias that you can't correct for in the Milo test: if your integration is over-correcting the differences between PostCOVID and IIH samples you might be missing some biological variation in the integrated KNN graph. You'll

[2021-11-08 13:05] mihem commented on #180
Thanks!

I did use the harmony, so corrected, embeddings, so I don't think this explains the odd results. Yet true, the integration might be over-correcting.
Okay, I will try that approach, thanks!

[2021-11-10 19:57] herandolph opened #186 "Mismatched gene row names and GeneID column in findNhoodMarkers output"
Hi,

Thanks for the work on this package!

I noticed that when I call findNhoodMarkers, the rownames of the output dataframe (dge.object$dge) don't correspond to the names in the GeneID column (screenshot below).

![Screen Shot 2021-11-10 at 1 51 32 PM](https://user-images.githubusercontent.com/42817338/141183641-f382ba0c-0b30-4af6-91a1-307c621dc5de.png)

**Full call to findNhoodMarkers:** dge.obj

[2021-11-11 08:32] MikeDMorgan commented on #186
Hi @herandolph  - the `findNhoodMarkers` function will be deprecated - please use `groupNhoods` and `findNhoodGroupMarkers’ instead.

[2021-11-12 13:51] herandolph commented on #186
Ahh this worked -- thank you. Could you implement the return.groups option in this function similar to findNhoodMarkers()? Currently getting an unused argument error. Thank you!

[2021-11-12 13:55] MikeDMorgan commented on #186
Hi @herandolph The `groupNhoods` function gives you the assignment of groups to neighbourhoods.

[2021-11-12 14:03] herandolph commented on #186
I saw that but I more so meant the $groups output, where you get which cell IDs map to which adjacency groups.

[2021-11-12 14:20] MikeDMorgan commented on #186
You can recreate this from the mapping of neighbourhoods into cells `nhoods()` which is the cell x neighbourhood matrix, and an indicator matrix of the nhoods X groups. The reason that we don't return this is because a cell can map to multiple nhood groups and there is obvious (i.e. non-heuristic way) to get a unique assignment of a cell to an nhood group.

[2021-11-12 14:25] herandolph commented on #186
I see, this makes sense. thanks

[2021-11-12 14:26] #186 closed

[2021-11-12 14:30] MikeDMorgan commented on #186
No worries - we danced back and forth on this a bit as we understand it could be useful - but without a unique solution we decided against actually promoting it in the package. There is nothing to stop you doing this of course - with the obvious caveat attached that assignments aren't unique.

[2021-11-12 21:58] jwiarda opened #187 "miloR for cytometry data"
For analyzing differential abundance of mass cytometry or flow cytometry data, would it be recommended to still use cydar and calculate cell spheres, or would use of cell neighborhoods calculated using miloR present as an improved option?

[2021-11-15 07:58] MikeDMorgan commented on #187
Hi @jwiarda  We haven't done a side-by-side comparison on Mass or flow cytometry data, so I can't give you an evidence-based answer unfortunately. If you have processed your data into a reduced dimension space, then you could compare and contrast the results from Cydar and Milo _ad hoc_.

[2021-11-17 09:08] LASeeker opened #188 "Would it be possible to extend models with a random effect?"
Hello,

We have been testing Milo on different datasets and a variety of species and overall we are very happy with the results. As most of us are aware, humans are hugely variable and therefore I am wondering if it would be possible to adapt the model framework so that it can consider random effects as well to account for donor variation in a setting where there are repeat samples for each donor?

[2021-11-17 09:30] MikeDMorgan commented on #188
Hi @LASeeker This is indeed on our development roadmpa, however, developing a mixed effect model in this context is very non-trivial unfortunately. If computational time is not a bottleneck for you then you could fit individual GLMMs for each neighbourhood counts vector using something like `glmmTMB`. Note that I haven't tested this, but it would at least allow you to account for repeated measurem

[2021-11-17 09:36] LASeeker commented on #188
Thank you @MikeDMorgan for your prompt response! Good to hear that you are thinking about this already. I believe it would be very helpful for a lot of people working with human data. I appreciate that this is non-trivial! In the meantime thank you for your advice with the glmmTMB. I'll have a look at those.

[2021-11-17 10:04] LASeeker commented on #158
Hello @MikeDMorgan,
I am still wondering about this, too. I would like to know how much the neighbourhoods in my object differ with tissue region ("Tissue") which is a factor with three levels ("BA4", "CB", "CSC"). When I simply fit "Tissue"

da_results <- testNhoods(milo_obj, design = ~ Tissue, design.df = milo_design)

the output looks like it is taking the alphabetically last level "CSC" and co

[2021-11-17 10:21] MikeDMorgan commented on #158
Hi @LASeeker Thanks for your interest in Milo. Contrasts are a bit tricky (there is a long series of threads on Biostars on this topic regarding their use in `limma` and `edgeR`). We use the same syntax in Milo, so the the contrasts are exactly that, they are comparisons between two (groups) of variables.

In your example comparing 'CB' vs 'BA4' the correct input would be `model.contrasts = c("Tis

[2021-11-17 10:58] LASeeker commented on #158
Hi @MikeDMorgan,

Thank you very much! This is really helpful indeed! When you are updating the documentation (which would- I am sure- be very much appreciated regarding this specific issue) it may also be helpful to add how to compare one factor level to two or more others. I don't need this right now, but I could imagine that would be the next question.

Unfortunately, this is still not working

[2021-11-17 10:59] LASeeker commented on #158
Sorry, header in design matrix above are moved to the left. First "column" are the row names.

[2021-11-17 11:09] MikeDMorgan commented on #158
Can I just get you to check if it runs without if you use `design = gender + Tissue`?

[2021-11-17 11:12] LASeeker commented on #158
I checked, but it remains the same problem:

da_results <- testNhoods(milo_obj, design = ~ gender + Tissue, design.df = milo_design,
                         model.contrasts = c("TissueCB - TissueBA4"))

Error in eval(ej, envir = levelsenv) : object 'TissueBA4' not found

[2021-11-17 11:16] MikeDMorgan commented on #158
Ok, and if you pass `model.contrast=c("CB _ BA4")`? (sorry, I'm just trying to debug this).

[2021-11-17 11:19] LASeeker commented on #158
I am grateful you are trying to debug this!

da_results <- testNhoods(milo_obj, design = ~ Tissue, design.df = milo_design,
                         model.contrasts = c("CB - BA4"))

Error in eval(ej, envir = levelsenv) : object 'CB' not found

[2021-11-17 11:21] MikeDMorgan commented on #158
OK, leave this with me - I think I know what the issue is, but need to double-check.

[2021-11-17 11:22] LASeeker commented on #158
Wonderful! Thank you for taking this seriously and being so helpful!

[2021-11-17 11:30] MikeDMorgan commented on #158
Hi @LASeeker Could you run this using `design = ~ 0 + Tissue` and `model.contrasts=c("TissueCB - TissueBA4")`?

[2021-11-17 11:30] #188 closed

[2021-11-17 11:41] LASeeker commented on #158
Hi @MikeDMorgan,

Fantastic, this worked! I am thrilled. Thank you very much for your help! I noticed though that CB is now the reference level which is not a problem at all, but may be useful to know.

I also think it does not work when fitting additional fixed effects in the same model. Don't know if you'd expect that. But for me and what I want to do this works really nicely now!

Thank you so

[2021-11-17 11:45] MikeDMorgan commented on #158
Hi @LASeeker  - yes, I need to figure out how to tweak it to also include covariates, I'm glad this is working though (sorry about getting the test/reference the wrong way round).

[2021-11-17 11:45] #158 closed

[2021-11-22 20:58] friedue commented on #134
Following up on this excellently addressed question -- while following the code above I noticed that some cells have more than one neighborhood they're assigned to (i.e. `rowSums(milo) > 0`). Could you comment on the interpretation and ramifications of that? Are cells that belong to multiple neighborhoods shown as individual/independent dots in the beeswarm plots and so on?

[2021-11-23 08:31] friedue commented on #163
Just a comment for future users: the function name is actually `nhoodIndex()`.

It *is* a little confusing that the colnames of the `nhoods()` output (where you use the index cells) aren't equivalent with the Nhood entry in the `testNhoods()` output (where they seem to be simply numbered from 1:n). Not a big issue, of course, but a minor roadblock for users trying to familiarize themselves with th

[2021-11-23 17:34] MikeDMorgan commented on #163
Hi @friedue Thanks for the feedback - this is something that we can incorporate as we update `Milo`.

[2021-11-23 17:37] MikeDMorgan commented on #134
Hi @friedue There is no reason a cell cannot, or should not, belong to multiple neighbourhoods as these are not discrete groups like clusters. This was the motivation behind developing `Milo`, to get around this problem of assigning one cell to one cluster.

[2021-11-23 17:38] #184 closed

[2021-11-23 17:38] #182 closed

[2021-11-23 17:40] MikeDMorgan commented on #181
Hi @aosakwe Apologies for the slow reply - I missed your original post. Does `da_results$celltype` contain NAs at all? This might be a potential source of your error.

[2021-11-23 19:12] aosakwe commented on #181
Hi @MikeDMorgan Thank you for your response. I just checked da_results$celltype and can confirm that there are no NAs in that column. I also checked da_results$LogFC and there are none there either.

[2021-11-23 19:43] friedue commented on #134
Absolutely, just goes to show that I really should have been reading the supplemental note of the paper. The mention of "overlap" in the vignette was definitely a clue as well.

[2021-11-24 09:22] MikeDMorgan commented on #181
Are the `type(da_results$LogFC)` numeric? This error comes directly from ggplot, and suggests that one of the plotting axes, either `celltype` or `LogFC` do not contain the expected data type.

[2021-11-26 14:35] aosakwe commented on #181
Yes I checked and they are. I also tried inputting da_results$celltype as a character, factor and numeric vector to see if that changed anything and it results in the same error.

[2021-11-26 14:43] MikeDMorgan commented on #181
Can you send me a small reproducible example and data so I can debug this please?

[2021-11-30 20:43] adamZhang-J2018 commented on #181
Hi Mike, I had same issue. I checked my results. When there are no significant results based on SpatialFDR, I had this error message. If I change to bigger threshold, it will be fine (That is because there are significant results with bigger threshold). But my issue is I can't get a plot when my results have no significant results with specific threshold. Thanks a lot for your patience and help!

[2021-12-01 09:12] MikeDMorgan commented on #181
Hi @adamZhang-J2018 - If you want to create a plot when you don't have any significantly DA nhoods then you can set `alpha=1.0`

@aosakwe Could you also try this and see if it resolves your issue.

I'll add this to the list of improvements so that it at least gives a warning a generates a plot. Thanks.

[2021-12-01 09:12] #181 closed

[2021-12-01 09:15] MikeDMorgan opened #189 "`plotNhoodsGraphDA` functions need to generate a plot when no DA nhoods"
ggplot will give an error about discrete values applied to a continuous scale if there are no Nhood spatialFDR < alpha. This function should instead give a warning to this effect, and generate a plot with all-white/uncoloured nhoods.

[2021-12-01 14:46] aosakwe commented on #181
Hi, Apologies for the late reply. The situation @adamZhang-J2018 described matches my own so I will try changing alpha. Thank you for your help! I really enjoyed using this package and look forward to trying it out in future projects.

[2021-12-08 00:01] lianos opened #190 "calcNhoodDistance doesn't honor requested `reduced.dim`"
Sorry if I'm misinterpreting the intention of the `reduced.dim` parameter in the `calcNhoodDistance()` function, but let's say I have two different "flavors" of a PCA reduction in my SingleCellExperiment ... something like this:

[code]

and I have been running the milo pipepline like so:

[code]

Wouldn't I then want to call `calcNhoodDistance()` like so?

[code]

However it looks like the code i

[2021-12-08 09:14] MikeDMorgan commented on #190
Hi @lianos Thanks for raising this - I will patch this ASAP onto the devel branch and update when it's ready. Great catch.

[2021-12-09 09:17] MikeDMorgan commented on #190
I've not patched this on the devel branch in 6d30ebdf87867f734468c9d28ffa1d2cfdf7bd71 - you should be able to install with `devtools::install_github("MarioniLab/miloR", ref="devel")`.

[2021-12-09 17:23] lianos commented on #190
Great, thanks Mike!

[2021-12-09 17:23] #190 closed

[2021-12-14 18:08] Zepeng-Mu opened #191 "findNhoodGroupMarkers adjusted P values have the same order for all NhoodGroup"
Hi, I'm running `findNhoodGroupMarkers` but I found that the order of adjusted P-value are actually the same for different NhoodGroups. I'm not sure where I did wrong.

[code]

[code]

I'm wondering whether there is any ways I can test what went wrong in my analysis.
Thanks so much!

[2021-12-15 12:03] MikeDMorgan commented on #191
Without any other info it's hard to say anything useful. For instance, are these nhoodgroups well separated? It might be that they genuinely share the same markers - again, without any info I can't tell if this is incorrect or not.

I agree that these being perfectly the same is weird - what is the distribution of these FDRs, and are they _identical_?

[2021-12-15 17:31] Zepeng-Mu commented on #191
Hello, I ran the `findNhoodGroupMarkers` code line by line, and the results look like this:

[code]

However, the output from the line is very strange:
https://github.com/MarioniLab/miloR/blob/abeed5abb64b227ef2f0c95a9c4931b043c64a3f/R/findNhoodGroupMarkers.R#L235
[code]

The line names are clearly not the same. Why would this be `TRUE`?
Indeed I didn't get the warning "Rownames of DGE results are

[2021-12-15 18:10] MikeDMorgan commented on #191
I agree this is strange. Can you double-check what `all(rownames(marker.list[[1]]) ==rownames(marker.list[[2]]))` actually returns? i.e. are these all the same length with no `NA` values?

[2021-12-15 18:25] Zepeng-Mu commented on #191
It seems that it always returns `T` when marker.list has three or more elements. I think `Reduce` is causing problem here?

[2021-12-15 18:35] Zepeng-Mu commented on #191
I think this should work `Reduce(x=marker.list, f=function(x, y) identical(rownames(x), rownames(y)))`

[2021-12-16 12:31] MikeDMorgan commented on #191
Hi @Zepeng-Mu - could you try re-installing from the devel branch and see if this problem persists: `devtools::install_github("MarioniLab/miloR", ref="devel")`

[2021-12-16 14:02] LeoCao-X opened #194 "Issue in buildNhoodGraph() function."
[code]
I get the following messages

Warning in (function (A, nv = 5, nu = nv, maxit = 1000, work = nv + 7, reorth = TRUE,  :
  convergence criterion below machine epsilon
Warning in (function (A, nv = 5, nu = nv, maxit = 1000, work = nv + 7, reorth = TRUE,  :
  did not converge--results might be invalid!; try increasing work or maxit

But I can run the tutorial properly.

Do you know how to figur

[2021-12-16 15:02] MikeDMorgan commented on #194
Hi @LeoCao-X These are warning messages - the code will still run, but be aware that you would perhaps be better computing the PCA outside of the `buildGraph` step to incorporate any feature selection, e.g. highly variable genes. The warning message comes from `irlba` and implies that you have a lot of noise/zeros in your logcounts matrix <- this is a sign that you have used all of the genes witho

[2021-12-16 15:28] Zepeng-Mu commented on #191
Hi, I installed the `devel` branch but the results are still the same as before. Every group has adj.P order from small to big and the order are all the same.

[2021-12-17 13:49] MikeDMorgan commented on #191
Hi @Zepeng-Mu I've pushed a simplification which also revealed there was a more extensive bug - thank you for raising this issue as it wasn't covered in our unit tests.  The latest changes are now on the `devel` branch.

[2021-12-17 15:07] tkapello opened #195 "Extract barcodes from all cells that belong to a scRNA-seq dataset neighborhood"
Hello,

More of a question rather than an issue. I was reading on `MiloR `and wanted to use this tool to identify neighborhoods in my scRNA-seq dataset that correlate in abundance with a treament of interest. What I want to do in downstream analysis is to extract the barcodes of cells that belong to a neighborhood and perform a statistical comparison of gene expression with the rest cells in the s

[2021-12-17 15:15] MikeDMorgan commented on #195
Hi @tkapello  I have just replied to your question on the Bioc forum - it is generally good practise to only post a question on one forum and allow the relevant parties an opportunity to respond first.

[2021-12-17 15:15] #195 closed

[2021-12-17 15:33] #191 closed

[2021-12-22 01:37] ryandikdan commented on #67
Have either of these been implemented? I'm working with a very large dataset and I can't get it to give me an output at all.

[2021-12-22 01:37] LeoCao-X commented on #194
Thanks for your timely reply! After I have feature selection and PCA reduction, I don't receive that warning message anymore.

[2021-12-22 01:37] #194 closed

[2021-12-22 09:14] MikeDMorgan commented on #67
Hi @ryandikdan This turns out to be some what time-consuming because the plotting engine uses ggnetwork, so it's fallen down the priority list. In the interim - if you have lots of very dense overlapping neighbourhoods then I would recommend using a larger `k` and a smaller `prop` in `makeNhoods` and `buildGraph` to alleviate the problem for now.

[2021-12-22 16:09] ryandikdan commented on #67
Thanks, I'll give that a shot, but wouldn't a higher k create more edges?

[2021-12-22 16:11] MikeDMorgan commented on #67
The combination of a larger `k` and smaller `prop` should create fewer nhoods, which will then reduce the total number of edges that need plotting. It's not an ideal solution I agree; perhaps this is the push needed to actually fix the large data set plotting.

[2021-12-22 16:13] ryandikdan commented on #67
Haha, glad to be the one pushing. If there's anything I can do to help let me know!

[2021-12-30 06:46] LeoCao-X opened #196 "SpatialFDR has same value in da_results"
Dear author, thanks for your development of such great tools.
I try to use this method on my own data. But I find I got really much the same SpatialFDR value in final da_results. And the volcano plot looks pretty strange. Do you how to figure that out? Do you need any more supplementary information?

         logFC    logCPM           F     PValue       FDR Nhood SpatialFDR
1     8.055034  6.48283

[2021-12-30 06:49] LeoCao-X commented on #196
And in another integrated dataset, the volcano plot looks even stranger
![image](https://user-images.githubusercontent.com/37821732/147728316-cd0f0d06-7748-4c46-bb9b-b9a17f7a3a02.png)
Do you know which parameter should I adjust to figure it out?

[2022-01-10 04:03] rdchow opened #197 "calcNhoodExpression does not return correct nhood #s/ids"
Hello,

I am trying to use calcNhoodExpression to get the average expression of select genes in each neighborhood, and to then visualize these expression data grouped by the miloR differential abundance results (in essence, mimicking the processing steps of plotNhoodExpressionGroups).

However, while the resulting data frame of calcNhoodExpression has the correct # of dimensions (ncol = # of neigh

[2022-01-10 13:42] charlesgwellem opened #198 "Error in (function (A, nv = 5, nu = nv, maxit = 1000, work = nv + 7, reorth = TRUE, : BLAS/LAPACK routine 'DLASCLSLeft' gave error code -4"
Thank you very much for your very helpful package. Please what could be the reason why I am having the following error and how couldI fix it?

[code]

[2022-01-10 23:01] tkapello opened #199 "Milo results in cell-cell communication"
Hi,

   I want to run some a cell-cell communication tool on the outcome of a Milo neighborhood abundance analysis. My rationale is that if there exist neighborhoods in a cluster that are differentially abundant between a treatment and a control sample, then one would be interested to find out how these cell groups interact with each other in the two conditions. My only concern is that Milo may ge

[2022-01-11 09:47] MikeDMorgan commented on #198
Can you please post the full traceback of the error.

[2022-01-11 09:49] MikeDMorgan commented on #197
The column names refer to the index cells in `nhoodIndex` slot. I will update the documentation to better describe this. Note that the _ordering_ of nhoods is identical throughout though.

[2022-01-11 09:49] #197 closed

[2022-01-11 09:50] #187 closed

[2022-01-11 09:52] MikeDMorgan commented on #199
My gut instinct would be that nhoods aren't a great input to most cell-communication tools as they will fail to account for the overlap between neighbourhoods. For now I'd stick with using the discrete clustering, or a more fine-grained sub-clustering. I think a bespoke tool would be needed to work directly with neighbourhoods - this is something I've been thinking about, but don't have the manpow

[2022-01-16 01:20] tkapello commented on #180
Just to add one silly question based on this example: which condition do the fold changes correspond to? In other words, a positive log fold change refers to neighborhoods more abundant in which level of the comparison? How are these levels defined?

[2022-01-18 17:19] AnaBVA opened #200 "NhoodGroups into colData"
Hi,

Thank you for creating and maintaining `miloR` package.
I probably missed this, but I couldn't find it. Is there any way that I can put the "NhoodGroup" groups (calculated with `groupNhoods` ) into `colData(milo)`. I'd like to use the cluster groups for other visualizations (violin plots, expression umaps) and analysis.

Thank you.

[2022-01-18 17:51] mastorkia commented on #180
I am coming with the same question as @tkapello. How is the reference dataset determined? I tried to change the order of the samples in the df for the model but I am getting same results.  @emdann

[2022-01-18 18:11] MikeDMorgan commented on #180
If you have a pair-wise comparison then the comparison is based on the native ordering in R, which for a character or factor vector is lexicographical. For factor variables you can define these explicitly or use the `relevel` function to change the reference level. If your variable has >2 levels/unique values then the comparison will be between the reference level and the _last_ level because the

[2022-01-19 08:41] Eddylyf opened #201 "Cannot open R tutorials"
Hi,
Very nice and useful software! But it seems that R tutorial links not working anymore:
1. Basic Milo example on simulated dataset.
2. Milo example on mouse gastrulation dataset: this includes a demo for downstream analysis functions.
Could you please fix this issue?
Thanks so much!
Best.

[2022-01-19 08:51] emdann commented on #201
Hi @Eddylyf, thanks for flagging this but the links in the github README look fine on our side. Do you have a version of the package installed from github some time ago? Please be aware that the same tutorials are also available via Bioconductor https://bioconductor.org/packages/release/bioc/html/miloR.html

[2022-01-19 09:19] emdann commented on #200
Hi @AnaBVA, because the group assignment happens at the level of neighbourhoods and cells can belong to multiple neighbourhoods, there is no straightforward way to add the neighbourhood group information in a single column of `colData(milo)`. Alternatively, depending on your application, you could encode information about which cells belong to which nhood group in a binary matrix, with nhoodGroups

[2022-01-19 09:34] Eddylyf commented on #201
Hi @emdann, thanks for your suggestions, the Bioconductor tutorials link are available for me! Indeed I had a version of the package installed from github. Thanks again!

[2022-01-20 04:42] AnaBVA commented on #200
I see! I understood clustering was at neighbourhoods level but didn't catch that a cell could belong to multiple clusters. Thanks, @emdann for pointing it out.

I wanted to use these groups for clustering but maybe not the best approach. If I have my own groups/clusters, can I use them for analyzing DA with `miloR`? Should I follow [5.0.1 Custom grouping](https://rawcdn.githack.com/MarioniLab/milo

[2022-01-20 08:54] emdann commented on #200
Yes, you can "annotate" neighbourhoods based on the group/cluster identity of the cells that belong to the neighbourhood (usually > 90% of cells in a neighbourhood have the same cell identity). This is implemented in the function `annotateNhoods` (see example `here`).

[2022-01-20 16:17] AnaBVA commented on #200
Thanks!

[2022-01-21 17:53] danieljgorski commented on #198
I am having the same problem when converting from a Seurat object, I believe it might have something to do with `as.SingleCellExperiment` not actually placing the dim reductions calculated in Seurat into the reducedDimNames slot of the SCE object.

I re-calculated PCA and UMAP on the SCE object before converting to a Milo object and the `buildGraph` function no longer gave this error. But I'm not

[2022-01-26 18:31] tomthomas3000 commented on #108
@MikeDMorgan for analysis on use cases like the one above you outlined (>200k cells), do you have any suggestions short of subsetting the data? Thank you for making this tool, very useful!

[2022-01-27 09:28] MikeDMorgan commented on #108
Hi @tomthomas3000
We have a new way to define neighbourhoods and correct with the spatial FDR that is much more scalable that is in the devel branch (`devtools::install_github("MarioniLab/miloR", head="devel")`):

Make your graph as before, then for making nhoods:
[code]

Then when it comes to performing spatial FDR correction:
[code]

This is much more scalable as it circumvents the need for comp

[2022-01-27 09:30] MikeDMorgan commented on #198
As this is an issue with Seurat functions, could you please report the error with them.

[2022-01-27 09:30] #198 closed

[2022-01-27 09:30] #180 closed

[2022-01-31 10:46] emdann opened #202 "Comments on contrast vignette"
1. The vignette title might be a bit obscure for someone that doesn't know what constrasts are. How about "Specifying comparisons for differential abundance testing using contrasts"
2. Line 64: add "We now build the KNN graph and define neighbourhoods to quantify cell abundance."
3. Line 76: rephrase

To

4. Line 94: I'd write in the comment `# the syntax is <VariableName><ConditionLevel> - <Varia

[2022-01-31 16:28] MikeDMorgan commented on #202
Fab, thanks Emma. The R version dependency is from Bioconductor, so not much can be done there. Arguably I think users should really switch to 4.1 anyway as Bioc is the preferred installation route.

[2022-01-31 16:28] #202 closed

[2022-02-08 19:07] jrgehlha opened #204 "Issue with R implementation"
Hello - I have a Seurat object of ~ 75,000 cells that I'm trying to run miloR with on a computing cluster.  I get the following error message.  Any suggestions on how to debug/next steps?  Thank you.

Error in (function (A, nv = 5, nu = nv, maxit = 1000, work = nv + 7, reorth = TRUE,  :
  BLAS/LAPACK routine 'DLASCL' gave error code -4

Session info posted below:

R version 4.0.3 (2020-10-10)
Plat

[2022-02-10 11:30] amissarova opened #205 "countCells throws error if samples is a factor and some samples have 0 cells"
When running `countCells` on sce, where samples are factors and some samples have 0  cells, the error occurs (works ok if you move samples from factors to characters):

[code]

[2022-02-10 17:55] castaway1990 opened #206 "Agile way to "flip" Null Hypothesis"
Hi everyone, thanks a lot for making this tool available to the community, it is a real gamechanger for some of my SC dataset analyses. Maybe mine is a naive question, but I was wondering if there is a way to quickly flip the null hypothesis to assess the invariance between neighbors occupancy among conditions. I Saw that the default null.mean = 0, I'm not sure if setting it to 1 would do the tric

[2022-02-16 09:51] MikeDMorgan commented on #204
Hi @jrgehlha as per #198 - this is an issue with the Seurat conversion to a SingleCellExperiment object, so you'll need to report the error to them.

[2022-02-16 09:51] #204 closed

[2022-02-16 09:51] #201 closed

[2022-02-16 09:53] MikeDMorgan commented on #205
Hi Alsu, I would question why you would ever have samples stored as a factor - there is no logical ordering of sample IDs so these should always be stored as characters.

[2022-02-16 10:17] MikeDMorgan commented on #206
Hi @castaway1990 We don't have functions with an argument of `null.mean`. Do you mean `min.mean` in `testNhoods`? If so, the this is used for filtering out nhoods with low overall counts. We don't currently have any implementation for testing equivalence of nhood counts over conditions. If I recall there is way to do this within the edgeR framework , but it's rather clunky: https://support.biocond

[2022-02-16 10:26] castaway1990 commented on #206
You are right, it is  in the function plotNhoodMA() , so only for plotting purposes probably... I will try the solution you pointed out thanks a lot!

[2022-02-16 10:46] #206 closed

[2022-02-16 10:46] #199 closed

[2022-02-16 15:37] amissarova commented on #205
Don't you guys have it in the code - the assumption that samples can be stored as factors - so thought you might want to account for this?

[2022-02-16 15:41] amissarova commented on #205
P.S. I had them stored as factors cause of downstream plotting I have been doing (in some cases having variables stored as factors makes things easier for `ggplot` )

[2022-02-16 16:08] MikeDMorgan commented on #205
There's variables stored as factors, which is fine - but the sample ID isn't a variable, and it has no ordinality, so in the context of setting up the nhoods counts matrix for DA testing it doesn't make sense.

[2022-02-18 09:48] MikeDMorgan commented on #108
Hi @zroger49 - yes, using the graph-based approach completely removes the need to compute any distances, so you should see a considerable improvement in computation time.

[2022-02-23 10:24] asgerjakobsen opened #208 "Equal cell numbers between conditions?"
Hi, thank you for developing this great tool - I have found it really useful for my analysis.

I have a question about the differential abundance testing. I am comparing two conditions where there are significantly more cells in one condition than the other (about twice as many in the control (WT) condition versus the test (mutant) condition). I am interested in knowing whether there is a relative

[2022-02-23 10:29] MikeDMorgan commented on #208
Hi @asgerjakobsen Milo does account for differences in the numbers of cells across samples by normalizing in the GLM using trimmed mean of M-values (TMM): https://genomebiology.biomedcentral.com/articles/10.1186/gb-2010-11-3-r25

Depending on how much these differences are confounded with your variable of interest will affect the quality of the normalisation. If there are global differences in the

[2022-02-23 10:55] asgerjakobsen commented on #208
Thank you for such a quick response!

Yes, that makes sense now. I should have mentioned that I am doing a paired analysis, so from each sample I have both WT and Mut. I have attached an image of my design matrix.  So for testing, my formula is: `design = ~ Sample + clone`.
<img width="578" alt="Screenshot 2022-02-23 at 10 48 54" src="https://user-images.githubusercontent.com/44162825/155304898-7a

[2022-02-23 10:59] MikeDMorgan commented on #208
Hi @asgerjakobsen That MA plot looks fine - I think you're good to go ahead.

[2022-02-23 11:00] asgerjakobsen commented on #208
Thank you for your help!

[2022-02-23 11:00] #208 closed

[2022-02-23 11:19] zroger49 commented on #108
@MikeDMorgan Hi. Yes there were substantial improvements in the computational time. In fact, the analysis which previously took 8-9 hours now can be completed in ~30 minutes.  I just have one question

The results I obtained on my first analysis (using calcNhoodDistance) were significantly different. We saw a higher number of nhoods with differential cell abundance, which seemed to be from differe

[2022-02-23 11:38] MikeDMorgan commented on #108
Could you be a little more specific when you say you had significant nhoods? What did you use as your FDR threshold, and were the previous results all very close to this threshold? You can make a direct comparison by running and saving the results using the 2 different approaches for the spatial FDR (note you will need to use the same nhood definitions though). It may well be that your nhoods are

[2022-02-23 12:18] zroger49 commented on #108
@MikeDMorgan [MikeDMorgan](https://github.com/MikeDMorgan) What I meant with significant nhoods was "neighborhood with significantly more cells from the experimental condition compared with controls".
The nhoods were different between my analysis, unfortunately I did not save the nhood matrix from the first analysis to make this comparison. I did notice that there was a slight tendency for the Spa

[2022-03-10 04:44] MarniTorkel opened #209 "plotNhoodGraphDA issue"
Hi,

I have an issue with the above plot, the node has no color and the logFC value is 0. Could you please let me know how to extract the color? Thanks.
![Screenshot 2022-03-10 154330](https://user-images.githubusercontent.com/5178671/157591199-412f27ab-94f0-4d7a-99cd-641992e158a2.jpg)

[2022-03-10 09:13] MikeDMorgan commented on #209
Hi @MarniTorkel If there are no DA nhoods below your threshold then it will not colour them. To override this set `alpha=1.0`.

[2022-03-10 09:17] #189 closed

[2022-03-11 02:18] MarniTorkel commented on #209
Thanks Mike.

Kind Regards,
Marni

[2022-03-11 02:18] #209 closed

[2022-04-02 02:23] mugpeng opened #212 "About probability P(C1) for simulation data"
Hi,

I recently read your work and also interested about the works related with perturbation. And I was trying to mimic your procedures for creating simulation data and ground truth.

And I was puzzled about some steps.

As mentioned in your paper:

So in this step, you don't create experimental conditions (C1 and C2) right?

And after that, you process the data to define a ground truth by generat

[2022-04-02 10:21] emdann commented on #212
Hi @mugpeng
Thank you for your interest in our work! The description of the condition probability to simulate labels is in the section "Generation of condition probability" of the Methods. The scripts to reproduce the benchmarking analysis are not part of the R package, but in our ms [reproducibility repository](https://github.com/MarioniLab/milo_analysis_2020/tree/main/benchmark).

Specifically,

[2022-04-07 13:21] MikeDMorgan commented on #108
Hi @zroger49 From a statistical perspective if all of your results are located close to your significance boundary then you need to think about whether or not you would consider these biological interesting or not.

[2022-04-11 08:00] mugpeng commented on #212
Thanks, emdann. I got it! :)

[2022-04-11 08:02] #212 closed

[2022-04-13 14:49] xiangjiahao1 opened #213 "About the calculation of neighborhoods logFC in multiple periods"
Thank you for your team's contributions in the field of single cell analysis.
I'm sorry that I don't know the algorithm very well. I have five single-cell samples from A,B,C,D and E. I have a cell type that predominates in phase C. I used miloR for analysis, and this cluster yielded negative log fold changes in many neighborhoods, and plotDAbeeswarm showed that this could not reveal the cell types

[2022-04-17 05:43] studymeow opened #214 "Regarding more than 2 experiment conditions in MiloR"
Hi, thank you for bringing this wonderful package. I came across this https://github.com/MarioniLab/miloR/issues/81, you mentioned for more than 2 variables, Milo will only compare the first level and last level, and so does it mean we can only use milo for two experimental conditions?

Thank you!

[2022-04-18 08:31] emdann commented on #214
Hi @studymeow, thank you for your interest in using Milo! You can certainly use milo for more than two experimental conditions or for continuous covariates. For the case of multi level covariates you can specify the type of comparison you are interested in by using the option `model.contrasts` in `testNhoods`. This could include both a "one-vs-all" design or a "case-vs-ctrl" design. You can find a

[2022-04-18 15:24] studymeow commented on #214
Thank you! This is super helpful.

[2022-04-18 15:24] #214 closed

[2022-04-21 09:46] DennisFeige opened #215 "Visualization of plotNhoodGraphDA() with multiple conditions"
Hi all,

thanks for the package. It seems quite useful!

I have a situation where I compare multiple conditions simialar to [your vignette](https://github.com/MarioniLab/miloR/blob/devel/vignettes/milo_contrasts.Rmd). At the end of your vignette you show that there is an enrichment in some neighborhoods comparing 1 condition to the rest on a plotNhoodGraphDA().

I would like to basically show the

[2022-04-21 11:34] MikeDMorgan commented on #215
Hi Dennis - it sounds like the clearest way to show these results would be to show a plot for each comparison. You can also plot the logFC for each comparison against each other because there will be a logFC for each nhood over multiple comparisons - a simple scatter plot would show where there is concordant changes along the diagonal, and discordant changes on the off-diagonal.

[2022-04-21 11:36] DennisFeige commented on #215
Hi Mike,

okay, thanks. That was also the solution I thought about so far.

Best,
Dennis

[2022-04-21 11:36] #215 closed

[2022-04-27 15:15] #205 closed

[2022-05-10 14:47] emdann opened #218 "Annotating nhoods by continuous covariates"
From discussion with Pe'er lab members: to aid exploratory analysis make functions (and show in vignettes) to relate DA logFC to average value for some continuous covariate in nhoods (e.g. pseudotime, latent factor values, gene signature expression).
Possibly simply extending `annotateNhoods`?

[2022-05-10 14:54] MikeDMorgan commented on #218
I think we could also have some bespoke plotting functions to aid this for continuous variables, akin to the beeswarm plots we have for discrete variables.

[2022-05-19 12:06] emdann opened #219 "Adding informative error message for plotDAbeeswarm when no significant results at SpatialFDR < 0.1"
Related to https://github.com/MarioniLab/miloR/issues/181

[2022-05-27 12:08] alitinet commented on #208
Hi @MikeDMorgan,

I had the same situation in my analysis and as you suggested looked at MA plots for neighborhoods, the first one is what I get when running on unbalanced classes (5k vs 15k cells in each of the conditions) and the second is when I downsampled the second condition to 5k cell too. MA plots don't look that great to me, do you think it's ok to run MILO here or not? And maybe you can

[2022-05-27 17:40] NadineBestard opened #220 "Conservative p-value histogram"
I have a question more on the interpretation side; let me know if this is not the right place for it and where I could post it if not.

I have a dataset with KO, HETs and WTs Sample. I did a first contrast between KO and WT that worked beautifully. The contrast between HETs and WTs all turned out to be n.s., but I am not trusting these results as this is how the p-values looked like
![image](https

[2022-05-28 13:06] emdann commented on #220
Hi @NadineBestard,
The p-val histogram looks odd indeed. Did you use the same design formula (`~ 0 + genotype + batch`) in the test for KO vs WT? By default the result table for the milo test stores in the `logFC` column the coefficient of the reference level for the last covariate in the formula (which in this case is `batch`), but the order shouldn't matter when you specify the contrasts...

You

[2022-05-29 01:03] NadineBestard commented on #220
Thanks for your quick response,

I did use the same formula for KOvsWT. I also tested to not correct for batch and got a very similar plot. I am not very sure how you were thinking of checking the colData(), but from having a quick look, cells marked with HET genotype also have a HET sample. Plotting the dimreduction from milo object colouring by genotype also looks the same as always.

I did use

[2022-05-30 07:33] MikeDMorgan commented on #208
Hi @alitinet These straight lines usually occur when you have nhoods with mostly 0's in them - we _strongly_ recommend inspecting the histogram of nhood counts and make sure that the minumum nhood size is ~N X S, where N is between 5+ and S is the total number of experimental samples.

How many samples do you have in your experiment - this looks suspiciously like you are under-powered.

[2022-05-30 07:41] MikeDMorgan commented on #220
Hi @NadineBestard This type of histogram that is left-skewed like this is usually indicative of a confounding variable that has not been accounted for in your model. In this case it is something that is probably correlated with your HET samples, e.g. processing batch, sequencing, other experimental handling factor.

[2022-05-30 08:46] NadineBestard commented on #220
Hi @MikeDMorgan, thanks for your response.
How would then it be possible that in KO vs HET that does not cause a problem?
I am correcting here for the processing batch, I could try to correct for the other experimental factor instead, tissue and see if there is an improvement. ( I can not correct for both as tissue and batch are confounded).

[2022-05-30 08:57] MikeDMorgan commented on #220
Hi @NadineBestard - the confounding could be with the het samples specifically, e.g. processing/handling batches, animal groups, different genders, etc. If batch and tissue are 100% correlated then it doesn't matter which one you adjust for in your model. The point here is that there is likely an _unaccounted for_ confounding.

[2022-06-02 16:37] NadineBestard commented on #220
Hi,

Reducing the bin size it became more obvious that the main problem with this p-value histogram is a big pick with p-value of 1.

![image](https://user-images.githubusercontent.com/61509376/171667006-5f19f7db-f33b-4ad7-977d-1098ef7b9515.png)

This corresponds to nhoods only present in the KO, but absent in WT and HET, so they seem to automatically be assigned p-value of 1, as the comparison ca

[2022-06-06 08:04] #220 closed

[2022-06-14 22:40] ScarlettQGG opened #222 "testNhoods generate the error message: Error in if (median(f75) < 1e-20) { : missing value where TRUE/FALSE needed"
Hey,
I am trying to use testNoods to do the differential abundance analysis. It gives me the error:
``Using TMM normalisation Error in if (median(f75) < 1e-20) { : missing value where TRUE/FALSE needed``
I performed this analysis to a scRNA seq data, without genes express in <= 5 cells.
I also tried this method on another dataset that I successfully applied this method before, and it also gives th

[2022-06-15 07:14] emdann commented on #222
Hello @ScarlettQGG
Could you please paste here
1. The function call you are using (i.e. which arguments are you passing to `testNhoods`)
2. the head of your design matrix (the data.frame passed as `design.df`)
3. the summary view of your Milo object (the object passed as `x`)
4. your `sessionInfo()`?

[2022-06-15 18:02] ScarlettQGG commented on #222
Hey,
Thank you for reply.

1. da_results_immune <- testNhoods(Skin.Immune_milo, design = ~ Disease, design.df = Skin.Immune_design)
2.
 <img width="426" alt="Screen Shot 2022-06-15 at 10 54 40 AM" src="https://user-images.githubusercontent.com/45522403/173893229-bd6c8c9a-c480-48c7-af12-21601aca9e89.png">

3.Skin.Immune_milo Info:
<img width="488" alt="Screen Shot 2022-06-15 at 11 01 34 AM" src="ht

[2022-06-20 07:45] emdann commented on #222
Thanks a lot! This seems to be a problem with TMM normalization in edgeR. To verify this could you run
[code]
or
[code]
and see if you get the same error?

It might just be a problem with mismatched miloR/edgeR versions. Could you try again after upgrading both to the latest versions on bioconductor? (`miloR==1.4.0` and `edgeR=3.38.1`)

[2022-06-24 13:58] fcg-bio opened #223 "findNhoodGroupMarkers error with Nhood groups with small number of cells"
Hi,

I am running **findNhoodGroupMarkers**, from miloR_1.5.0, with the following parameters :

    `nhood_markers <- findNhoodGroupMarkers(milo_obj, da_results, subset.row = hvgs, aggregate.samples = TRUE, sample_col = "Sample")`

And I got  the following error:

    `Error in contrasts<-(*tmp*, value = contr.funs[1 + isOF[nn]]) :
    contrasts can be applied only to factors with 2 or more levels

[2022-06-29 06:00] ForeverYoung-LAB commented on #222
Thanks for your reply and notice, I met the same problem as above and tried your recommendation, but failed again.I wonder whether data quality (such as, missing value) will lead to this error?

[2022-07-04 09:27] fredust opened #224 "Regarding more than 2 groups, should we adjust the spatialFDR?"
Hello, thank you for designing the great package.
I also had more than 2 conditions in analysis. In the vignette you mentioned that "If we want to test each of these comparisons then we need to pass them sequentially to testNhoods, then apply an additional multiple testing correction to the spatial FDR values. "
So if I had three groups (A,B and C for example), and I wanted to compare the differen

[2022-07-04 13:47] MikeDMorgan commented on #224
Hi @fredust At the moment you would be better off passing each comparison group to `testNhoods` separately, then correct the spatial FDRs for these 3 different tests.

[2022-07-04 13:47] #224 closed

[2022-07-04 16:11] MikeDMorgan commented on #224
It should be sufficient to adjust each spatial FDR for the 3 tests performed for each nhood. If you plug in the spatial FDRs to a standard multiple testing function, e.g. `p.adjust()` it will assume that you wish to correct for _all_ input tests <- this would be a massive over-correction.

[2022-07-04 16:13] fredust commented on #224
Thank you very much!!!!

[2022-07-20 21:41] brianpenghe opened #225 "'edges' must be numeric or character"
I was following [this tutorial](https://github.com/MarioniLab/milo_analysis_2020/blob/main/notebooks/milo_in_python.ipynb) but got this error:

![image](https://user-images.githubusercontent.com/4110443/180087154-1cd0eb4a-c6c3-4be8-a360-c2f012cd5fe8.png)

Any ideas?

[2022-07-21 09:40] brianpenghe commented on #225
@MikeDMorgan that seems to have fixed it. At least no error messages

[2022-07-21 10:54] MikeDMorgan commented on #225
Glad that worked - the vignette will just need updating.

[2022-07-21 10:54] #225 closed

[2022-07-21 13:27] brianpenghe opened #226 "KeyError: "'DA_results' not found""
I was following [this tutorial](https://github.com/MarioniLab/milo_analysis_2020/blob/main/notebooks/milo_in_python.ipynb)

This step caused errors:

[code]

Is there any simple fix to this?

[2022-07-21 13:29] emdann commented on #226
Hi @brianpenghe, can you try removing `-o DA_results` from the first line? This tries to output the `DA_results` table to the python interpreter, but if you only run `makeNhoods` you don't need it.

[2022-07-21 13:31] emdann commented on #226
You only need to add `%%R -o DA_results` to the chunk where you run `testNhoods`, to export results to python chunks, like so:
[code]

[2022-07-21 13:55] brianpenghe commented on #226
OK I think that's the reason thanks!

[2022-07-21 13:55] #226 closed

[2022-07-21 13:57] brianpenghe opened #227 "Design matrix not of full rank"
I was following [this tutorial](https://github.com/MarioniLab/milo_analysis_2020/blob/main/notebooks/milo_in_python.ipynb)
There must be something I missed still?
[code]

[2022-07-21 14:24] MikeDMorgan commented on #227
The error implies that variables in your model are either co-linear or that the design matrix contains more columns than rows. You can inspect the design matrix with `model.matrix(~dissection + chemistry + stage_group, data=design_df)`. An alternative issue could be that you have a perfect confounding between the `Late` level of `stage_group` (as indicated by the error message) and one of the othe

[2022-07-21 14:33] brianpenghe commented on #227
Indeed removing dissection changed the error messages. Thanks Mike.

[2022-07-21 14:35] brianpenghe opened #228 "K must be non-null to use k-distance"
I was following [this tutorial](https://github.com/MarioniLab/milo_analysis_2020/blob/main/notebooks/milo_in_python.ipynb) and had modified the codes a bit. But I get this new error:
[code]

Any hints again Mike and Emma?

Thanks!

[2022-07-21 14:36] brianpenghe commented on #228
probably related to this issue https://github.com/MarioniLab/miloR/issues/133

[2022-07-21 14:44] brianpenghe commented on #225
And is this related to this https://github.com/MarioniLab/miloR/issues/16 ?

[2022-07-21 15:09] brianpenghe commented on #228
OK @zktuong found a solution.

adding `milo@.k=20` before the `makeNhoods` worked.
It seemed that the milo object didn't store anything in `milo@.k`

[2022-07-21 15:09] #228 closed

[2022-07-21 15:14] brianpenghe opened #229 "SpatialFDR all NaN"
I was following the [this manual](https://github.com/MarioniLab/milo_analysis_2020/blob/main/notebooks/milo_in_python.ipynb) and finished generating `DA_results` with these codes:
[code]

However, the `DA_results` have only NaN values in the `SpatialFDR`.

![image](https://user-images.githubusercontent.com/4110443/180249829-d4ad64d0-4170-4578-884b-27156e194bf2.png)

Any ideas?

[2022-07-22 04:44] ZhenjiangFan opened #230 "A questions about generating simulation data"
Hi,

Thank you for the amazing work.

I noticed that you used "dyntoy" to generate simulation data and you privided some simulation data under the "data" folder. However, I did not find any code for generating conditions' probabilities for all the cells and assigning the conditions to each cell.
I would like to recreate the procedure, but before that, I think I am wondering if the code can be made

[2022-07-22 08:17] MikeDMorgan commented on #230
Hi @ZhenjiangFan as noted in the manuscript - the simulation and analysis code is located at https://github.com/MarioniLab/milo_analysis_2020

The code to generate the simulations can be found in the `simulations` subfolder.

[2022-07-22 08:29] MikeDMorgan commented on #229
@brianpenghe - can you check for Na values in the `FDR` and `PValue` columns of the output - this might happen when there is are Na p-value.  The other issue might be that the high `d` used to compute distances is causing very small values for the spatial FDR correction. It is _very_ strange to have so many dimensions and yet such a small `k`. The ability to assign true pairs of nearest neighbours

[2022-07-22 15:31] ZhenjiangFan commented on #230
Thank you so much. I must have not noticed the link in the manuscript. Sorry about that.

Thank you.

[2022-07-22 15:31] #230 closed

[2022-07-26 07:30] altairwei opened #231 "What's the meaning of '5 x N_samples' ?"
In the tutorial [Differential abundance testing with Milo - Mouse gastrulation example](https://bioconductor.org/packages/release/bioc/vignettes/miloR/inst/doc/milo_gastrulation.html), you say:

But I'm not sure what it means exactly? Is it five times the number of samples in the dataset?

[2022-07-26 08:17] MikeDMorgan commented on #231
Yes

[2022-07-26 08:17] #231 closed

[2022-08-01 16:31] wbf520qcp commented on #222
Follow up on this, I had the same problem.

[2022-08-03 14:59] #179 closed

[2022-08-03 15:11] emdann commented on #222
Thank you for flagging this @wbf520qcp. Do you get the same error message when running `testNhoods` with `norm.method='RLE'` and `norm.method='TMM'`? According to the source code of `edgeR::calcNormFactors` the error above is only triggered with TMM, if there is another error with other normalization methods it might be a clue about where the problem is. I suspect this might be triggered by some p

[2022-08-24 05:06] mdeea opened #232 "Reproducibility of tutorial"
Hi there,

Thanks for this great idea. I'd really like to use this package.
Thanks also for the great Tute.
However, I'm having trouble reproducing your Mouse gastrulation tutorial for V1.5 of Milo with version 1.5 on my R instance.

Maybe you need to set.seed() a few more times during the analysis??

2 Visualize the data
Firstly, while my umap looks similar, it's different, so maybe a seed needs

[2022-09-06 13:33] gt7901b opened #234 "Error running testNhoods from Tutorial"
**Describe the bug**
while running tutorial code
da_results <- testNhoods(traj_milo, design = ~ Condition, design.df = traj_design)
I got this error

Error in testNhoods(traj_milo, design = ~Condition, design.df = traj_design): Sample names in design matrix and nhood counts are not matched.
             Set appropriate rownames in design matrix.
Traceback:

1. testNhoods(traj_milo, design = ~Condi

[2022-09-06 14:17] MikeDMorgan commented on #234
Please update to the latest version of Milo (v1.5) - available through Bioconductor: `BiocManager::install("miloR")`

[2022-09-06 14:17] #234 closed

[2022-09-07 13:17] Chengwei94 opened #235 "Super connected neighborhoods when using graph refinement."
I was trying out the new graph refinement scheme as that I want to scale to million of cells(for cytof data). However, I noticed that the graph created is super connected.

I have 30k cells in this dataset and I used k = 50.

[code]

![image](https://user-images.githubusercontent.com/61018420/188887374-96c9d775-3346-43c6-b971-5c7ccabc394d.png)

[2022-09-07 13:56] Chengwei94 commented on #235
Seems like a problem with my data since the non graph method produce the same plot

[2022-09-07 13:56] #235 closed

[2022-09-09 00:05] gt7901b commented on #234
Hi, @MikeDMorgan , I used the BiocManager::install("miloR") but still only got miloR 1.4
and the same error persists.

R version 4.2.1 (2022-06-23)
Platform: x86_64-apple-darwin17.0 (64-bit)
Running under: macOS Monterey 12.5

Matrix products: default
LAPACK: /Library/Frameworks/R.framework/Versions/4.2/Resources/lib/libRlapack.dylib

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/e

[2022-09-09 00:26] gt7901b commented on #234
similar error when I ran the other tutorial

Error in testNhoods(embryo_milo, design = ~sequencing.batch + stage, design.df = embryo_design) :
  PCA is not found in reducedDimNames. Avaiable options are pca.corrected,umap

[2022-09-09 08:13] MikeDMorgan commented on #234
@gt7901b  - these are 2 completely different errors. The first has evidently been resolved in the vignette as the error states that the rownames of the `design.df` argument do not match the columns of the `nhoodCounts` matrix. The second error requires that you included `reduced.dim="pca.corrected"` in the arguments to `testNhoods`

[2022-09-09 12:57] gt7901b commented on #234
thanks for the reply, @MikeDMorgan , the second error can be fixed by adding reduced.dim="pca.corrected" and the second  tutorial worked nicely.  What about the first error? I followed the tutorial and had the same traj_design output, but still got this Sample names in design matrix and nhood counts are not matched.

[2022-09-14 11:24] #223 closed

[2022-09-14 11:27] #229 closed

[2022-09-14 11:29] MikeDMorgan commented on #232
Thanks @mdeea for pointing out these issues - we'll get them fixed for the next Bioc release in November.

[2022-09-14 11:29] #232 closed

[2022-09-15 17:12] gianfilippo opened #236 "testDiffExp potential issue"
Hi,

I have a dataset with 3 biological replicates (2 cell states and 2 perturbations each): cellstate levels: A,B; pert levels: H,L.
So, in total I have 12 samples (3 replicates by 4 conditions)
We are interested in HvsL in A and B. AvsB is not interesting
It is a paired design, since each biological replicate has A, B, H and L
I created a group variable as A.L, A.H, B.L, B.H and I have a sample

[2022-09-15 19:04] pvtodorov opened #237 "testDiffExp error with specified model and contrasts"
It is unclear how to run `testDiffExp()` with a design matrix (as opposed to a formula design) and explicit contrasts. The [documentation](https://marionilab.github.io/miloR/reference/testDiffExp.html) for `testDiffExp()` indicates that this is possible and encourages the user to use the same design and model.contrasts as in DA testing.  However, attempts to do so lead to an error about incompatib

[2022-09-26 16:52] jbrandst7 opened #238 "What if I don't see a significant difference in abundance?"
Is there a statistic that miloR provides to evaluate power? If I don't see a significant difference in abundance between groups across neighborhoods (which was expected biologically), is there a way I can know that it wasn't just because I needed more replicates in each condition? Thanks for your help!

[2022-09-27 20:48] gianfilippo commented on #237
Hi,

I have the same issue.

[2022-09-28 08:01] emdann commented on #236
Hi @gianfilippo

Could you just clarify that you trying to find DE genes between condition H and L _within_ the same nhood group?
The function `testDiffExp` is a wrapper we wrote in an initial implementation, but we are not maintaining it at the moment (I will add a deprecation notice) because we are usually interested in finding DE genes _between_ nhoods and nhood groups, which is implemented in

[2022-09-28 08:11] emdann commented on #237
Hi @pvtodorov
Thank you for the detailed issue report!

The function testDiffExp is a wrapper we wrote in an initial implementation, but we are not maintaining it at the moment because we are usually interested in finding DE genes _between_ DA nhoods and nhood groups (which is implemented in findNhoodGroupMarkers and exemplified in the [vignette](https://rawcdn.githack.com/MarioniLab/miloR/7c7f906

[2022-09-28 08:12] emdann commented on #236
closing as duplicated in https://github.com/MarioniLab/miloR/issues/237

[2022-09-28 08:12] #236 closed

[2022-09-28 08:20] emdann commented on #238
Hi @jbrandst7
We don't have implemented functions or stats for power analysis at the moment. We discuss sensitivity limitations in the benchmarking sections of our paper (see [Extended Data Fig. 2a](https://www.nature.com/articles/s41587-021-01033-z#Fig7), Suppl. Fig. 4 and [Supplementary note 3.3](https://static-content.springer.com/esm/art%3A10.1038%2Fs41587-021-01033-z/MediaObjects/41587_2021_1

[2022-09-28 20:32] pvtodorov commented on #237
Agree. I eventually figured out that the model matrix here changes and is not the same as the one above and not exactly the use case I'm after. Thanks for the thorough reply!

[2022-09-28 20:32] #237 closed

[2022-09-28 22:21] gianfilippo commented on #236
Hi,

thanks.  Yours is a good point, I will look in the markers direction with findNhoodGroupMarkers.

Best

[2022-09-30 18:42] jbrandst7 commented on #238
Thanks for your response. Do you know what we would need to do to try to calculate this for ourselves?

[2022-10-01 19:05] BioMedInvestorNL commented on #213
Hi. Any news on this? I am also trying to understand how the logFC works (and is calculated) when multiple classes exist in the type evaluated

[2022-10-03 09:02] emdann commented on #213
Hi @xiangjiahao1 sorry for missing this. When multiple classes exist in the covariate of interest specified in the design, the last level of that covariate is considered the level of interest and the test is performed in a one-vs-all fashion. E.g. if testing for `condition` with levels `c('A','B','C')`, running `textNhoods(milo_obj, design='~ condition')` will test for C vs rest.
One can specify

[2022-10-03 09:23] BioMedInvestorNL commented on #213
Hi. Thank you very much for this clarification.

[2022-10-03 09:32] xiangjiahao1 commented on #213
Thank you for your ansewer.
Can I understand that final logFC value is average logfc (C vs rest)?

[2022-10-03 10:52] emdann commented on #213
As described in the [model description](https://static-content.springer.com/esm/art%3A10.1038%2Fs41587-021-01033-z/MediaObjects/41587_2021_1033_MOESM1_ESM.pdf) from our paper

neighbourhood:

$$
log \mu_{ns} = \sum_{g=1}^{G} x_{sg}\beta_{ng} + log L_s
$$

of cells of s over all the neighbourhoods]

the condition value applied to sample s. βng is the regression coefficient by which the covariate ef

[2022-10-03 20:06] BingjieZhang opened #239 "Importing Seurat's precomputed WNN graph"
Hi miloR developers,

I am trying to use milo on my precomputed seurat wnn graph. Based on #157 and #144 . I think I only need to extract the precomputed graph from seurat and add to the milo obj.  Below is the code I used

[code]

But I had the error message when running the last step `miloR::graph(pbmc_small_milo) <- miloR::graph(buildFromAdjacency(graph_matrix, k=30))`

Actually it is the same

[2022-10-03 20:18] emdann commented on #239
Also can you check whether just running:
[code]
throws the error? Just to pin it down to `buildFromAdjacency` or `miloR::graph`

[2022-10-03 21:01] BingjieZhang commented on #239
Hi @emdann , thank you for your response!

Sorry for the confusion. You need to install this to have the function `NNtoGraph`. `remotes::install_github("satijalab/seurat", "feat/dictionary", quiet = TRUE)
`
 And yes, the small dataset worked for me
<img width="666" alt="image" src="https://user-images.githubusercontent.com/71776762/193681074-c753c8a8-36cf-48a3-8b38-755db3df5c54.png">

The session

[2022-10-04 08:14] emdann commented on #239
Thank you @BingjieZhang!
Could you try upgrading to miloR 1.5.0?

mmm ok then I suspect there is something odd with this particular adjacency matrix. I tried to reproduce on the WNN graph of the [Seurat vignette](https://satijalab.org/seurat/articles/weighted_nearest_neighbor_analysis.html), but this works fine.

Question: why are the (n,n) positions of `graph_matrix` not equal to 1? Is this data

[2022-10-04 10:15] jfouyang opened #240 "Beyond Pairwise Comparisons"
I am just wondering if it is possible to go beyond comparing cell abundance in a pairwise fashion. That is, is it possible to modify the underlying GLM to do comparisons across multiple groups i.e. instead of performing a LRT across >2 groups instead of doing a QL F-test?

[2022-10-04 17:29] yuhanH commented on #239
hi @emdann
We just eliminate the self-neighbor from each cell when we define multimodal neighbors by function `FindMultiModalNeighbors`. I think you can directly add them back to the graph matrix.

[2022-10-04 19:41] emdann commented on #239
Thank you for clarifying @yuhanH!

@BingjieZhang with the object that you sent me I am able to build the graph with no error like so:
[code]
Installing Seurat from github isn't really agreeing with my R session for some reason, but would this be equivalent to what you would get by `NNtoGraph`?

In `cite_seu@graphs$wsnn` the self-neigbors are included, although I am not sure this is what does the t

[2022-10-04 20:25] BingjieZhang commented on #239
Hmm, after updating miloR to 1.5.0 and run the code above, the error message changed to this:
[code]
Does the input need to be a binary matrix?
<img width="942" alt="image" src="https://user-images.githubusercontent.com/71776762/193919224-4a0b173a-ee62-4ac3-9aab-b00fa9e46165.png">

session info:
[code]

[2022-10-04 20:27] emdann commented on #239
Sorry, my bad in copy-pasting :)

should be
[code]

[2022-10-04 20:39] BingjieZhang commented on #239
lol I am sorry (I should have spotted this!)

Yes yes, It worked on both matrices now!! So seems to be the milo version issue? Thanks a lot for your help!! I will update the full code here when I finish everything. Hope it helps other people working with wnn graph.

[2022-10-04 21:44] BingjieZhang commented on #239
Hmm, it seems that I have a totally different question now....
It worked well with the small test dataset but when I tried to run on the full dataset
[code]

Is this because the matrix is too large? I have about 110K cells in total.
<img width="375" alt="image" src="https://user-images.githubusercontent.com/71776762/193935990-a2cf3d13-d823-4b1a-b620-2e6141b233b8.png">

[2022-10-05 19:07] BingjieZhang commented on #239
I subsetted the datasets to include only two timepoints and increased the k to 60 (12 samples *5) but still get the same error.  Now my graph matrix is a (54892, 54892)

[2022-10-05 20:48] dgagler opened #241 "Seeking advice for downstream analysis of significantly DA neighborhoods"
Hi, great package guys. Thanks for making it and being involved with the community.

I've analyzed some scRNA data with it and have gone through the "standard workflow" to produce differentially abundant neighborhoods. I'm interested now, however, in the subset of neighborhoods that are significantly DA. Specifically, I'm interested in exploring what makes them transcriptionally different from the

[2022-10-06 12:51] MikeDMorgan commented on #241
Hi @dgagler  - thanks for using Milo. Firstly, when reporting an issue you should always present exactly the code that you have used, otherwise there is too much guess work involved on our part as to what and where the issue in the code is.

If you are only interested in comparing the 2 groups then you can perform the subsetting in the `findNhoodGroupMarkers` function by passing a vector as `subse

[2022-10-06 14:16] dgagler commented on #241
Hi Mike. This all makes sense and is very helpful. Thanks!

And in regards to setting aggregate.samples = TRUE...are there any circumstances under which you would not set this?

[2022-10-06 15:00] MikeDMorgan commented on #241
From a statistical point of view - not at the moment. The consensus at the moment is to do this type of analysis by pseudobulking first rather than treating single-cells as replicates, which violates the i.i.d. assumption of many statistical model (the independent bit). We allow some lee-way as we might (or might not) introduce a model later that models the dependence between single-cells from the

[2022-10-06 15:15] dgagler commented on #241
Thanks for clarifying and for the thorough explanation. (Hopefully) last question:

Is the fact that cells are members of multiple nhoods violating the i.i.d. assumption in the same way that pseudobulking is? Or are these 2 different problems of independence?

[2022-10-06 15:44] MikeDMorgan commented on #241
These are 2 different problems that introduce dependence between the observations - pseudobulking solves the issue with using single-cells as replicates. The issue with having a cell contribute to multiple nhoods is that it essentially becomes a problem of making exactly the same measurement multiple times - again, the trivial solution is to just not do this. In fact, you would also have to still

[2022-10-06 17:12] dgagler commented on #241
Sorry for pushing on this! I'm probably missing something here. I'm on board with pseudobulking being the right move but it's still not clear to me that pseudobulking by sample/replicate and pseudobulking by neighborhood are fundamentally different.

For example, if I were to annotate my cells by their assigned neighborhood and then use this as the input for the sample_col variable when pseudobulk

[2022-10-07 08:00] MikeDMorgan commented on #241
If you pseudobulk by nhood then you don't remove the dependency caused by the fact that the single cells are sample _from the same experimental sample_.

[2022-10-07 12:32] constantAmateur opened #242 "Milo constructor does not accept table of counts"
The documentation for `Milo` says the `...` argument says:

  ``` Arguments passed to the Milo constructor to fill the slots of the base class. This should be either a SingleCellExperiment or matrix of features X cells```

However, if a matrix of features X cells is provided, the function will not execute either of the milo construction entries and will either return:

```Error in Milo(toc) : obje

[2022-10-07 12:47] emdann commented on #240
Hi @jfouyang, not sure this answers your question, but you can specify the classes to compare using the `model.contrasts` argument, also explained here https://github.com/MarioniLab/miloR/issues/213#issuecomment-1265142975 and [see vignette](https://github.com/MarioniLab/miloR/issues/213#issuecomment-1265142975)

[2022-10-07 13:12] emdann commented on #242
Thank you @constantAmateur for spotting this! I've opened a patch for this

[2022-10-09 17:11] liz-is commented on #239
I am having the same issue. I'd like to add the WNN from Seurat to a Milo object:

[code]

Looking at the traceback and the code for `buildFromAdjacency` I think the issue stems from the `.check_binary` function. Setting `is.binary = FALSE` in `buildFromAdjacency` avoids this issue for me!

[2022-10-09 19:26] BingjieZhang commented on #239
Hi @liz-is , thanks a lot for your suggestions! It worked for me too! Would you mind if I ask how you would do the next steps? I am following the graph-based method as Emma advised here: [graph refinement](https://gist.github.com/emdann/05b4438415e5f5f1ec7fa6bc92d01742). But when running
[code]
If I set `refined=FLASE` then no error messages. Any thoughts? Thanks in advance!

[2022-10-09 19:36] liz-is commented on #239
I don't know, sorry - the downstream steps worked for me. I would suggest that you run `traceback()` immediately after getting the error and add its output to your comment, though - this'll help the developers debug your issue.

[2022-10-10 07:44] jfouyang commented on #240
Hey I think that answers my question! Thanks!

[2022-10-10 07:44] #240 closed

[2022-10-10 08:10] emdann commented on #239
Hi @liz-is, thank you for digging in this issue and suggesting a fix! I will try to patch this ASAP.

@BingjieZhang could you please open a new issue for the problem with `makeNhoods` (possibly with the full traceback)? This seems to be an unrelated issue that has to do with the graph-based refinement

[2022-10-10 12:00] nickhir opened #244 "Plot the number of neighboring cells per condition and neighborhood."
First of all, thank you very much for creating this amazing tool!

While using it, I sometimes found it very useful, to plot the number of neighboring cells for a given neighborhood that I was interested in. An "interesting" neighborhood could for example be a neighborhood which shows a large logFC, but which is not significantly enriched for any condition.

So I created a function which does that

[2022-10-11 13:06] RolantusdataExp opened #245 "Easier access to changing colors in the plotNhoodGraphDA"
Hi developer team,

Thank you so much for a great tool!

I am trying to change the node colors in the plotNhoodGraphDA, as I would like to change the scalebar over the logFC. Default is low = red, high = blue, but would like to change it to the opposite. Can you be of any assistance here? Think it would be useful to add an argument for this (as it is not a ggplot object, but a ggraph object it see

[2022-10-11 13:30] emdann commented on #245
Hi @RolantusdataExp, the output of `plotNhoodGraphDA` is a normal ggplot object and you should be able to modify scales (in this case `scale_fill`) as you like it. Following the example from the [basic vignette](https://bioconductor.org/packages/release/bioc/vignettes/miloR/inst/doc/milo_demo.html):
[code]
![milo_example](https://user-images.githubusercontent.com/32264060/195104521-1f3c906c-c6a0-4

[2022-10-11 13:32] #242 closed

[2022-10-11 13:37] emdann commented on #244
Hey @nickhir, thank you for sharing! I also frequently do this myself but never found the time to add to the R package :) if you have time to open a PR I would be very happy to review and add this plotting function.

[2022-10-11 21:25] nickhir commented on #244
Sounds great :)! I have opened a PR to the `devel` branch.

[2022-10-11 21:25] #244 closed

[2022-10-12 08:04] #213 closed

[2022-10-13 15:10] BingjieZhang commented on #239
Sorry for the late update, eventually the following code works for me!

[code]
Thanks a lot! @emdann @liz-is

[2022-10-13 15:37] BingjieZhang opened #247 "Sensitivity on rare cell population"
Hi miloR developers,

Thank you for developing and maintaining this great tool!  With the graph only method, milo worked well with seurat pre-computated wnn graph in most cases. But I am wondering if you may share some advice on increasing the sensitivity on finding ab changes in rare cell populations. I have two conditions and each condition has about 25K cells (6 donors). And my interested cell

[2022-10-13 17:32] BingjieZhang commented on #247
Thank you for the response! The experimental design. And I would like to compare the changes between Day 0 and Day 28.
<img width="311" alt="image" src="https://user-images.githubusercontent.com/71776762/195664779-4791f6d4-8e8f-4ce2-a9bf-5a3f2f04109e.png">
`milo_res <- testNhoods(cite_milo, design= ~ batch + timepoint, design.df=embryo_design, fdr.weighting="graph-overlap", reduced.dim = "WNN.UMAP

[2022-10-14 08:36] nickhir opened #248 "Odd plotNhoodGroups behavior when turning NhoodGroup into a factor"
When grouping my neighbourhoods with the `groupNhoods`, I get more than 10 groups, which results in the "wrong" ordering when I run `plotNhoodGroups`:

![image](https://user-images.githubusercontent.com/49643134/195801389-ebb06f40-0b31-45c8-b91b-ab7af929c956.png)

I wanted to correct this by turning `NhoodGroup` into a correctly ordered vector like so:

[code]

However, after doing so, the `plotNh

[2022-10-14 08:45] MikeDMorgan commented on #248
It needs to be a factor, with the levels defined in numerical order. R by default will order character vectors lexicographically.

[2022-10-14 08:48] nickhir commented on #248
Sorry to reopen this, but isn't that what I am doing in this section?
[code]

[2022-10-14 08:52] MikeDMorgan commented on #248
Can you update to Milo 1.5 and see if it's still a probelm?

[2022-10-14 09:09] nickhir commented on #248
I have installed the latest github version (`devtools::install_github("MarioniLab/miloR")`) but the behavior didnt change.

[2022-10-19 10:41] BioMedInvestorNL opened #249 "testNhoods performance"
Hi,

I really like your tool. But I am having some performance issues I would like your suggestion if I could speed things up. I have a large dataset, around 1kk cells. In this dataset I have multiple clinical meta.data columns I would like to compare in multiple combinations.

My initial plan was to run the  graph generation and neighborhood identification  in the full dataset. After initial prob

[2022-10-19 10:49] MikeDMorgan commented on #249
First, thanks for using Milo. Second, please post the output of your `sessionInfo()` so that we know what version of the package you are using.

[2022-10-19 18:05] BioMedInvestorNL commented on #249
Sorry for the delay. I stopped the run after 10h.

here is the output of sessionInfo()

<html>
<body>

R version 4.1.1 (2021-08-10) Platform: x86_64-pc-linux-gnu (64-bit) Running under: Ubuntu 18.04.5 LTS  Matrix products: default BLAS:   /usr/lib/x86_64-linux-gnu/atlas/libblas.so.3.10.3 LAPACK: /usr/lib/x86_64-linux-gnu/atlas/liblapack.so.3.10.3  locale: [1] C  attached base packages: [1] paralle

[2022-10-20 07:58] MikeDMorgan commented on #249
OK - you're running a very old version of Milo. Please upgrade to v1.5 through Bioconductor first.  The reason for it being so slow is that you are computing a huge number of distances which are required for both the neighbourhood refinement and computing the spatial FDR.

For large datasets like yours, we have introduced a new approximation to both these steps, which can be used thus:

* Use `mak

[2022-10-25 08:27] BioMedInvestorNL commented on #249
Hi Mike. Sorry for the delay. It does work this way. thank you very much.

One last question: do you have specific recommendations related to the neighborhood size for these large dataset adaptations? I've been playing around with that, but I am not sure what would the optimal parameters.

[2022-10-25 11:55] BioMedInvestorNL commented on #249
Hi Mike,

I was reading that this morning actually. In my case I have around 90 samples (50 from experimental group, 40 from control) . So I should have neighborhoods of around 450 cells. But to obtain that I would need to go to K values above the suggested 50 threshold. Is that correct? Do you think that should be ok?

[2022-10-25 12:05] MikeDMorgan commented on #249
There is a trade-off between the resolution of nhoods with a larger k and the numbers of cell counts for a given sample. If k is too small you'll end up with sparse counts, which will introduce too much variance into the GLM and you'll have much lower power. However, too high a k will lose resolution to identify subtle/rare cell state changes. The numbers we give are a guideline - you as the analy

[2022-11-01 17:57] #241 closed

[2022-11-01 18:15] dgagler opened #250 "Differential abundance and subclustering"
Hi guys,

Thanks again for making a great package with a lot of utility. I'm wondering if you have any suggestions for using Milo during a subclustering analysis.

I've run Milo on my dataset and determined some interesting differences in abundance for NK cells between my conditions. I'm now trying to explore NK cells in more detail. I've performed a subclustering analysis on my NK cells, running

[2022-11-04 09:11] MikeDMorgan commented on #250
Hi Dylan,
This is a totally legitimate approach to take - we do the same thing in the Milo paper to investigate liver cirrhosis in more detail. I don't think that you necessarily need to retain the same values of k and D as you aren't trying to compare the two graphs or results.

[2022-11-12 03:36] SoManyPepople commented on #249
Hi Mike,

Thanks for your kind advices. These seems work well for me too.
But I want to make sure: if i use 'refinement_scheme="graph"' option for makeNhoods, which uses an approximation of Euclidean distances (Likely, this distances were calculated via the 'calcNhoodDistance()' function between 'makeNhoods()' and 'testNhoods()'. And I actually stucked at this calcNhoodDistance step for more than

[2022-11-15 11:00] MikeDMorgan commented on #249
Yes, using the graph-only approach makes `calcNhoodDistance` redundant.

[2022-11-15 11:00] #249 closed

[2022-11-16 09:28] mdmanurung opened #251 "Overlay DA neighborhoods on embedding"
**Is your feature request related to a problem? Please describe.**
When working with large datasets, visualisation of the DA neighborhoods take such a long time. Subsetting the neighborhoods helps, but then it's difficult to relate the results with the embedding layout.

**Describe the solution you'd like**
I suggest to provide an option to overlay the DA neighborhoods on top of the embedding, lik

[2022-11-17 12:29] zeniazen5 opened #252 "Spatial FDR threshold"
Hey there,  first of all thank you for Milo. I really like working with it and it is pretty straight forward when you understand better the concept and your data of course.
I wanted to ask something regarding the Spatial FDR threshold. I have run Milo to my dataset and specifically to each of the cell types separately . After a round of optimizations for the k the overall result is that no DA is d

[2022-11-30 06:56] yangroroe commented on #222
Hey, I received the same error message as well when running testNhoods with norm.method = "TMM".

Also, I received the same error message when I run testNhoods with norm.method = "RLE" / norm.method = "logMS"
Error in .compressOffsets(y, lib.size = lib.size, offset = offset) :
  offsets must be finite values

May I know how to resolve this issue?

[2022-11-30 09:05] MikeDMorgan commented on #222
The error message says it all - you have non-finite values in the normalisation factors. This will arise when you try to log zero. Ergo, your neighbourhoods have very sparse counts and so are probably too small. I say probably, because you need to provide sufficient details to actually diagnose the issue, e.g. histogram of nhood sizes, experimental design, what code you've run, etc.